<h1 mat-dialog-title>Inactive Components</h1>
<div mat-dialog-content>
  <p>List of inactive components:</p>
  
  <mat-selection-list #componentsList>
    <mat-list-option *ngFor="let component of inactiveComponents" [value]="component">
      <strong>{{ component.type }}</strong> - {{ component.description }} (UID: {{ component.uid }})
    </mat-list-option>
  </mat-selection-list>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button (click)="selectComponents(componentsList.selectedOptions.selected)">Select</button>
</div>