<h1 mat-dialog-title>Inactive Assets</h1>
<div mat-dialog-content>
  <p>List of inactive assets:</p>
  
  <mat-selection-list #assetsList>
    <mat-list-option *ngFor="let asset of inactiveAssets" [value]="asset">
      <strong>{{ asset.type }}</strong> - {{ asset.description }} (Asset Barcode: {{ asset.asset_barcode }})
    </mat-list-option>
  </mat-selection-list>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button (click)="selectAssets(assetsList.selectedOptions.selected)">Select</button>
</div>