<div class="flex flex-col w-full min-w-0 sm:absolute sm:inset-0 sm:overflow-hidden">
    <mat-drawer-container class="flex-auto sm:h-full">

        <!-- Drawer -->
        <mat-drawer
            class="sm:w-96 dark:bg-gray-900"
            [autoFocus]="false"
            [mode]="drawerMode"
            [opened]="drawerOpened"
            #drawer>
            <!-- Drawer Header -->
            <div class="flex items-center justify-between m-8 mr-6 sm:my-10">
                <h3 class="text-4xl font-extrabold tracking-tight leading-none">Import management</h3>
                <!-- Close button -->
                <button
                    mat-icon-button
                    class="lg:hidden"
                    aria-label="Close settings drawer"
                    (click)="drawer.close()">
                    <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
                </button>
            </div>

            <!-- Panel links -->
            <nav class="flex flex-col divide-y border-t border-b">
                <ng-container *ngFor="let panel of panels; trackBy: trackByFn">
                    <div
                        class="flex px-8 py-5 cursor-pointer"
                        [ngClass]="{
                            'hover:bg-gray-100 dark:hover:bg-hover': !selectedPanel || selectedPanel !== panel.id,
                            'bg-primary-50 dark:bg-hover': selectedPanel && selectedPanel === panel.id
                        }"
                        (click)="goToPanel(panel.id)">
                        <mat-icon
                            [ngClass]="{
                                'text-hint': !selectedPanel || selectedPanel !== panel.id,
                                'text-primary dark:text-primary-500': selectedPanel && selectedPanel === panel.id
                            }"
                            [svgIcon]="panel.icon"></mat-icon>
                        <div class="ml-3">
                            <h4
                                class="font-medium leading-6"
                                [ngClass]="{
                                    'text-primary dark:text-primary-500': selectedPanel && selectedPanel === panel.id
                                }">
                                {{panel.title}}
                            </h4>
                            <p class="mt-0.5 text-secondary">{{panel.description}}</p>
                        </div>
                    </div>
                </ng-container>
            </nav>
        </mat-drawer>

        <!-- Drawer content -->
        <mat-drawer-content class="flex flex-col">
            <!-- Main Panel -->
            <div class="flex-auto px-6 pt-9 pb-12 md:p-8 lg:p-12">
                <!-- Panel Header -->
                <header class="flex items-center">
                    <!-- Drawer toggle -->
                    <button
                        class="lg:hidden -ml-2"
                        mat-icon-button
                        aria-label="Open settings drawer"
                        (click)="drawer.toggle()">
                        <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
                    </button>

                    <h3 class="ml-2 lg:ml-0 text-3xl font-bold tracking-tight leading-none">
                        {{getPanelInfo(selectedPanel).title}}
                    </h3>
                </header>

                <!-- Load settings panel -->
                <section class="mt-8">
                    <ng-container [ngSwitch]="selectedPanel">
                        <ng-container *ngSwitchCase="'import.masterdata'">
                            <app-import-masterdata></app-import-masterdata>
                        </ng-container>
                        <ng-container *ngSwitchCase="'import'">
                            <app-asset-import></app-asset-import>
                        </ng-container>
                        <ng-container *ngSwitchCase="'import.peripherals'">
                            <app-import-peripherals></app-import-peripherals>
                        </ng-container>
                        <ng-container *ngSwitchCase="'export'">
                            <app-asset-export></app-asset-export>
                        </ng-container>                       
                    </ng-container>
                </section>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>