<div *ngIf="asset" class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent"
    >
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div>
                <div class="hidden sm:flex flex-wrap items-center font-medium">
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <a class="ml-1 text-primary-500">Assets</a>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon
                            class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-right'"
                        ></mat-icon>
                        <a
                            class="ml-1 text-primary-500 cursor-pointer"
                            [routerLink]="'/assets/inventory'"
                            >Inventory List</a
                        >
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon
                            class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-right'"
                        ></mat-icon>
                        <a
                            class="ml-1 text-primary-500 cursor-pointer"
                            [routerLink]="'/assets/computers/view/' + asset.id"
                            >View</a
                        >
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon
                            class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-right'"
                        ></mat-icon>
                        <span class="ml-1 text-secondary">Edit </span>
                    </div>
                </div>
                <div class="flex sm:hidden">
                    <a
                        class="inline-flex items-center -ml-1.5 text-secondary font-medium"
                        [routerLink]="'/assets/computers'"
                    >
                        <mat-icon
                            class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-left'"
                        ></mat-icon>
                        <span class="ml-1">Back</span>
                    </a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-4 flex flex-col gap-4">
                <!-- Image Section -->
                <div class="flex flex-row gap-4">
                    <img
                        src="https://i.dell.com/is/image/DellContent/content/dam/ss2/product-images/dell-client-products/notebooks/inspiron-notebooks/14-2-in-1-7440-intel/media-gallery/notebook-inspiron-14-7440-t-ice-blue-gallery-17.psd?fmt=png-alpha&pscan=auto&scl=1&hei=804&wid=1336&qlt=100,1&resMode=sharp2&size=1336,804&chrss=full"
                        alt="Sample Image"
                        class="h-28 w-32"
                    />
                    <div class="flex flex-col gap-2">
                        <p class="font-semibold text-2xl">
                            {{ asset.model }} ({{ asset.type }})
                        </p>
                        <p class="text-secondary font-semibold">
                            Asset barcode:
                            <span class="text-secondary font-medium">{{
                                asset.asset_barcode
                            }}</span>
                        </p>
                    </div>
                </div>

                <div class="flex flex-row gap-1"></div>
            </div>
        </div>
        <div
            class="hidden sm:flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4"
        >
            <button
                class="ml-4"
                mat-icon-button
                [routerLink]="'/assets/computers'"
            >
                <mat-icon [svgIcon]="'close'"></mat-icon>
                <!-- <span class="ml-2 mr-1">Go back</span> -->
            </button>
        </div>
    </div>

    <div class="flex flex-col h-full sm:mx-0 md:mx-0 lg:mx-64 lg:my-4">
        <form [formGroup]="eventForm" (ngSubmit)="updateAsset()"
            class="flex flex-col flex-grow px-8 pt-10 bg-card shadow-lg rounded w-full overflow-hidden"
        >
            <p class="text-lg font-bold text-2xl">Asset Information</p>
            <mat-divider class="mt-6 mb-4"></mat-divider>
            <div class="flex flex-row mt-2 gap-4">
                <div class="flex flex-col items-center">
                    <label
                        for="select-image"
                        class="cursor-pointer flex flex-col items-center"
                    >
                        <img
                            id="preview-image"
                            src="https://static.vecteezy.com/system/resources/thumbnails/022/059/000/small_2x/no-image-available-icon-vector.jpg"
                            alt="Select Image"
                            class="h-32 w-32 object-contain border border-gray-300 rounded-md"
                        />
                        <span class="text-secondary text-regular mt-2">
                            <mat-icon
                                class="icon-size-4 mt-1 text-secondary"
                                [svgIcon]="'feather:edit'"
                            ></mat-icon>
                            Select new image
                        </span>
                    </label>
                    <input
                    formControlName="image"
                        id="select-image"
                        type="file"
                        accept="image/*"
                        class="hidden"
                        (change)="previewSelectedImage($event)"
                    />
                </div>
                <div
                    class="flex flex-col sm:flex-row gap-4"
                    style="width: 100%"
                >
                    <div class="flex flex-col flex-grow" style="width: 100%">
                        <!-- Make this div take full width -->
                        <mat-form-field appearance="fill" style="width: 100%">
                            <!-- Make mat-form-field take full width -->
                            <mat-label class="text-primary font-bold text-lg"
                                >Serial Number</mat-label
                            >
                            <mat-icon
                                svgIcon="feather:hash"
                                class="icon-size-5"
                            ></mat-icon>
                            <input
                            matInput
                            id="serial_number"
                            formControlName="serial_number"
                            [placeholder]="asset?.serial_no || 'N/A'"
                            [value]="eventForm.value.serial_number"
                        />
                        </mat-form-field>
                    </div>
                    <mat-divider class="mx-12" vertical></mat-divider>
                    <div class="flex flex-col flex-grow" style="width: 100%">
                        <p class="text-primary font-bold text-lg">
                            Long Item Description
                        </p>
                        <p class="text-secondary">
                            {{
                                asset.type +
                                    " " +
                                    asset.model +
                                    " " +
                                    asset.brand +
                                    " " +
                                    asset.size +
                                    " " +
                                    asset.color
                            }}
                        </p>
                    </div>
                </div>
            </div>

            <mat-divider class="mt-6 mb-5"></mat-divider>
            <p class="text-lg font-medium mb-3">Details</p>

            <div class="flex flex-row gap-4 mb-3">
                <!-- Parent container for responsiveness -->

                <!-- Left Column (Serial, Type, etc.) -->
                <div class="flex flex-col flex-grow gap-1 w-full">
                    <mat-form-field appearance="fill" class="w-full">
                        <mat-label>Serial Number</mat-label>
                        <mat-icon
                            svgIcon="feather:hash"
                            class="icon-size-5 mr-2"
                        ></mat-icon>
                        <input
                            matInput
                            formControlName="serial_number"
                            id="serial_number_2"                            
                            [placeholder]="asset.serial_number || 'N/A'"
                            [value]="eventForm.value.serial_number"
                        />
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="w-full">
                        <mat-label>Type</mat-label>
                        <mat-icon svgIcon="feather:cpu" class="icon-size-5 mr-2"></mat-icon>
                        <mat-select formControlName="type" id="type">
                            <mat-option *ngFor="let option of typeOptions" [value]="option">
                                {{ option }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    

                    <!-- <mat-form-field appearance="fill" class="w-full">
                        <mat-label>Date Acquired</mat-label>
                        <mat-icon
                            svgIcon="feather:calendar"
                            class="icon-size-5 mr-2"
                        ></mat-icon>
                        <input
                        formControlName="date_acquired"
                            matInput
                            id="date_acquired"
                            [placeholder]="asset.date_acquired || 'N/A'"
                       
                        />
                    </mat-form-field> -->
                    <mat-form-field appearance="fill" class="w-full">
                        <mat-label>Date Acquired</mat-label>
                        <mat-icon svgIcon="feather:calendar" class="icon-size-5 mr-2"></mat-icon>
                        <input 
                            matInput 
                            [matDatepicker]="picker" 
                            formControlName="date_acquired" 
                            id="date_acquired" 
                            [placeholder]="asset.date_acquired || 'N/A'"
                        />
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    

                    <mat-form-field appearance="fill" class="w-full">
                        <mat-label>Brand</mat-label>
                        <mat-icon
                            svgIcon="feather:box"
                            class="icon-size-5 mr-2"
                        ></mat-icon>
                        <input
                        formControlName="brand"
                            matInput
                            id="brand"
                            [placeholder]="asset.brand || 'N/A'"
                         
                        />
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="w-full">
                        <mat-label>Model</mat-label>
                        <mat-icon
                            svgIcon="feather:smartphone"
                            class="icon-size-5 mr-2"
                        ></mat-icon>
                        <input
                        formControlName="model"
                            matInput
                            id="model"
                            [placeholder]="asset.model || 'N/A'"
                           
                        />
                    </mat-form-field>

                    <!-- <mat-form-field appearance="fill" class="w-full">
                        <mat-label>Ram</mat-label>
                        <mat-icon
                            svgIcon="feather:server"
                            class="icon-size-5 mr-2"
                        ></mat-icon>
                        <input
                            matInput
                            id="ram"
                            [placeholder]="asset.ram || 'N/A'"
                            [value]="asset.ram || 'N/A'"
                        />
                    </mat-form-field> -->

                    <!-- <mat-form-field appearance="fill" class="w-full">
                        <mat-label>Storage</mat-label>
                        <mat-icon
                            svgIcon="feather:hard-drive"
                            class="icon-size-5 mr-2"
                        ></mat-icon>
                        <input
                            matInput
                            id="storage"
                            [placeholder]="asset.storage || 'N/A'"
                            [value]="asset.storage || 'N/A'"
                        />
                    </mat-form-field> -->

                    <!-- <mat-form-field appearance="fill" class="w-full">
                        <mat-label>GPU</mat-label>
                        <mat-icon
                            svgIcon="feather:monitor"
                            class="icon-size-5 mr-2"
                        ></mat-icon>
                        <input
                            matInput
                            id="gpu"
                            [placeholder]="asset.gpu || 'N/A'"
                            [value]="asset.gpu || 'N/A'"
                        />
                    </mat-form-field> -->
                </div>

                <!-- Responsive Divider -->
                <mat-divider
                    class="hidden sm:block mx-6"
                    vertical
                ></mat-divider>
                <mat-divider class="sm:hidden my-2"></mat-divider>

                <!-- Right Column (Size, Color, PO, etc.) -->
                <div class="flex flex-col flex-grow gap-1 w-full">
                    <mat-form-field appearance="fill" class="w-full">
                        <mat-label>Size</mat-label>
                        <mat-icon
                            svgIcon="feather:info"
                            class="icon-size-5 mr-2"
                        ></mat-icon>
                        <input
                        formControlName="size"
                            matInput
                            id="size"
                            [placeholder]="asset.size || 'N/A'"
                          
                        />
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="w-full">
                        <mat-label>Color</mat-label>
                        <mat-icon
                            svgIcon="feather:info"
                            class="icon-size-5 mr-2"
                        ></mat-icon>
                        <input
                            formControlName="color"
                            matInput
                            id="color"
                            [placeholder]="asset.color || 'N/A'"
                            
                        />
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="w-full">
                        <mat-label>Po #</mat-label>
                        <mat-icon
                            svgIcon="feather:tag"
                            class="icon-size-5 mr-2"
                        ></mat-icon>
                        <input
                            formControlName="po"
                            matInput
                            id="po"
                            [placeholder]="asset.po || 'N/A'"
                           
                        />
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="w-full">
                        <mat-label>Warranty</mat-label>
                        <mat-icon
                            svgIcon="feather:shield"
                            class="icon-size-5 mr-2"
                        ></mat-icon>
                        <input
                        formControlName="warranty"
                            matInput
                            id="warranty"
                            [placeholder]="asset.warranty || 'N/A'"
                           
                        />
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="w-full">
                        <mat-label>Cost</mat-label>
                        <mat-icon
                            svgIcon="feather:dollar-sign"
                            class="icon-size-5 mr-2"
                        ></mat-icon>
                        <input
                        formControlName="cost"
                            matInput
                            id="cost"
                            [placeholder]="asset.cost || 'N/A'"
                         
                        />
                    </mat-form-field>

                    <!-- <mat-form-field appearance="fill" class="w-full">
                        <mat-label>Remarks</mat-label>
                        <mat-icon
                            svgIcon="feather:file-text"
                            class="icon-size-5 mr-2"
                        ></mat-icon>
                        <input
                            matInput
                            id="remarks"
                            [placeholder]="asset.remarks || 'N/A'"
                            [value]="asset.remarks || 'N/A'"
                            readonly
                        />
                    </mat-form-field> -->
                </div>
            </div>
            <div
                class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700"
            >
                <!-- <button mat-stroked-button>Reset Form</button> -->
                <button class="px-6 ml-3" type="submit" mat-flat-button [color]="'primary'">
                    Edit Details
                </button>
            </div>
        </form>
    </div>
</div>
<!-- <mat-form-field class="flex-grow gt-xs:pr-3">
                    <input matInput [placeholder]="'First name'" />
                    <mat-icon
                        class="icon-size-5"
                        matPrefix
                        [svgIcon]="'heroicons_solid:user-circle'"
                    ></mat-icon>
                </mat-form-field>
                <mat-form-field class="flex-grow gt-xs:pl-3">
                    <input matInput [placeholder]="'Last name'" />
                    <mat-icon
                        class="icon-size-5"
                        matPrefix
                        [svgIcon]="'heroicons_solid:user-circle'"
                    ></mat-icon>
                </mat-form-field> -->
