<div *ngIf="asset" class="mx-auto inset-0 min-w-0 text-center overflow-auto print:overflow-visible" cdkScrollable>
    <!-- A4 Wrapper -->
    <div class="a4-container">
        <!-- Page Content -->
        <div class="inline-block p-6 sm:p-10 text-left print:p-0">
            <div
                class="w-240 min-w-240 p-16 rounded-2xl shadow bg-card print:w-auto print:p-0 print:rounded-none print:shadow-none print:bg-transparent">
                <div id="pdfFormArea" #pdfFormArea>
                    <div class="flex">
                        <div class="flex flex-row gap-4 w-full">
                            <div class="flex gap-4">
                                <img src="assets/images/logo/suylogo.png" alt="Logo" class="-ml-5 -mt-5 h-32 w-32" />
                                <div class="flex flex-col w-64 gap-1">
                                    <p class="font-bold text-sm">
                                        Ana's Breeders Farm Inc.
                                    </p>
                                    <p class="text-sm w-56">
                                        Sitio Sto. Niño, Pan Philippine Highway
                                        Brgy. Binugao, Toril District Davao
                                        City, Davao del Sur, Philippines.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- Right-aligned Document Details -->
                        <div class="flex flex-row gap-4 w-full justify-end">
                            <div class="flex flex-col w-64 gap-1 items-end">
                                <p class="font-bold text-sm">
                                    Document Number
                                    <span class="font-medium">{{
                                        asset?.user_accountability_list
                                        .accountability_code
                                        }}</span>
                                    -
                                    <span class="font-medium">{{
                                        asset?.user_accountability_list.id
                                        }}</span>
                                </p>
                                <p class="font-bold text-sm">
                                    Effective Date
                                    <span class="font-medium">{{
                                        asset?.user_accountability_list
                                        .date_created
                                        ? (asset?.user_accountability_list
                                        .date_created
                                        | date : "MMMM d, y")
                                        : "N/A"
                                        }}</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <p class="flex justify-center text-2xl font-semibold w-full">
                        ACCOUNTABILITY FORM
                    </p>

                    <div class="flex flex-row w-full mx-auto mt-8 gap-12">
                        <div class="flex flex-col gap-0.5 w-58">
                            <p class="text-lg tracking-tight font-bold">
                                ISSUED TO
                            </p>
                            <div class="flex flex-row gap-2 text-sm">
                                <p class="text-regular tracking-tight font-bold">
                                    Employee Name
                                </p>
                                <span class="font-medium">{{
                                    asset.user_accountability_list.owner.name || "N/A"
                                    }}</span>
                            </div>
                            <div class="flex flex-row gap-10 text-sm">
                                <p class="text-regular tracking-tight font-bold">
                                    ID Number
                                </p>
                                <span class="font-medium">
                                    {{ asset.user_accountability_list.owner.employee_id || "N/A" }}</span>
                            </div>
                            <div class="flex flex-row gap-8 text-sm">
                                <p class="text-regular tracking-tight font-bold">
                                    Designation
                                </p>
                                <span class="font-medium">
                                    {{ asset.user_accountability_list.owner.designation || "N/A" }}</span>
                            </div>
                        </div>
                        <div class="flex flex-col gap-0.5 w-58 mt-7">
                            <div class="flex flex-row gap-15 text-sm">
                                <p class="text-regular tracking-tight font-bold">
                                    Company
                                </p>
                                <span class="font-medium">
                                    {{ asset.user_accountability_list.owner.company || "N/A" }}</span>
                            </div>
                            <div class="flex flex-row gap-11 text-sm">
                                <p class="text-regular tracking-tight font-bold">
                                    Department
                                </p>
                                <span class="font-medium">
                                    {{ asset.user_accountability_list.owner.department || "N/A" }}</span>
                            </div>
                            <div class="flex flex-row gap-9 text-sm">
                                <div class="flex flex-row gap-12 text-sm">
                                    <p class="text-regular tracking-tight font-bold">
                                        Date Hired
                                    </p>
                                    <span class="ml-1.5 font-medium">
                                        {{
                                        asset.user_accountability_list.owner.date_hired
                                        ? (asset.user_accountability_list.owner.date_hired?.value
                                        | date : "MMMM d, y")
                                        : "N/A"
                                        }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Page Break (If Needed) -->
                    <div class="page-break"></div>
                    <div class="flex flex-col my-4">
                        <p class="text-sm font-semibold mt-5">
                            Computer under accountability
                        </p>
                        <span class="text-secondary text-sm">
                            (Desktop, Laptops, etc..)</span>
                    </div>
                    <!-- Table -->
                    <div class="overflow-x-auto">
                        <mat-table [dataSource]="dataSourceComputers" matSort class="mat-elevation-z8 custom-mat-table">
                            <!-- Type Column -->
                            <ng-container matColumnDef="type">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
                                <mat-cell class="text-sm" *matCellDef="let e">{{ e.type || "N/A" }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="dateAcquired">
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="-ml-7">Date
                                    Acquired</mat-header-cell>
                                <mat-cell *matCellDef="let e" class="-ml-7">
                                    {{ e.date_acquired ? (e.date_acquired | date : "MMMM d, y") : "N/A" }}
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="assetBarcode" class="-ml-5">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Barcode</mat-header-cell>
                                <mat-cell *matCellDef="let e">{{ e.asset_barcode || "N/A" }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="brand">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Brand</mat-header-cell>
                                <mat-cell *matCellDef="let e">{{ e.brand || "N/A" }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="model">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Model</mat-header-cell>
                                <mat-cell *matCellDef="let e">{{ e.model || "N/A" }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="personalHistory">
                                <mat-header-cell *matHeaderCellDef mat-sort-header
                                    style="white-space: normal; font-size: 11px">History</mat-header-cell>
                                <mat-cell *matCellDef="let e">
                                    {{ e.history?.$values?.length ? e.history.$values.join(", ").length > 50 ?
                                    e.history.$values.join(", ").substring(0, 50) + "..." : e.history.$values.join(", ")
                                    : "N/A" }}
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="status">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                                <mat-cell *matCellDef="let e">{{ e.status || "N/A" }}</mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns"
                                class="hover:bg-gray-100 h-12 cursor-pointer"
                                [routerLink]="['/assets/computers/view/' + row.id]"></mat-row>
                        </mat-table>
                    </div>

                    <div class="flex flex-col my-4">
                        <p class="text-sm font-semibold mt-5">
                            Computer Components under accountability
                        </p>
                        <span class="text-secondary text-sm">(Ram, ssd, hdd ...)</span>
                    </div>

                    <div class="overflow-x-auto">
                        <mat-table [dataSource]="dataSourceAssignedComponents" matSort
                            class="mat-elevation-z8 custom-mat-table">
                            <!-- Type Column -->
                            <ng-container matColumnDef="type">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
                                <mat-cell class="text-sm" *matCellDef="let element">{{ element.type || "N/A"
                                    }}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="date_acquired">
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="-ml-7">Date
                                    Acquired</mat-header-cell>
                                <mat-cell class="text-sm" class="-ml-4" *matCellDef="let element">{{
                                    element.date_acquired
                                    ? (element.date_acquired
                                    | date : "MMMM d, y")
                                    : "N/A"
                                    }}</mat-cell>
                            </ng-container>

                            <!-- Description Column -->
                            <ng-container matColumnDef="description">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
                                <mat-cell class="text-sm ml-2" *matCellDef="let element">{{
                                    element.description || "N/A"
                                    }}</mat-cell>
                            </ng-container>

                            <!-- UID Column -->
                            <ng-container matColumnDef="uid">
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="-ml-5"
                                    matTooltip="Inventory Code">
                                    Inventory Code
                                </mat-header-cell>
                                <mat-cell class="text-sm" *matCellDef="let element">
                                    {{ element.uid }}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="parent_barcode">
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="-ml-7"
                                    matTooltip="Parent Barcode">Parent Barcode</mat-header-cell>
                                <mat-cell class="text-sm" *matCellDef="let element" class="">{{
                                    element.asset_barcode || "N/A"
                                    }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="status" class="-ml-5">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                                <mat-cell class="text-sm" *matCellDef="let element" class="-ml-5">{{ element.status ||
                                    "N/A" }}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="cost">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>cost</mat-header-cell>
                                <mat-cell class="text-sm -ml-4" *matCellDef="let element">₱ {{ element.cost || "N/A"
                                    }}</mat-cell>
                            </ng-container>

                            <!-- Header and Rows -->
                            <mat-header-row *matHeaderRowDef="[
                                    'type',
                                    'date_acquired',
                                    'uid',
                                    'description',
                                    'cost',
                                    'parent_barcode',
                                    'status'
                                ]"></mat-header-row>
                            <mat-row *matRowDef="
                                    let row;
                                    columns: [
                                        'type',
                                        'date_acquired',
                                        'uid',
                                        'description',
                                        'cost',
                                        'parent_barcode',
                                        'status'
                                    ]
                                " class="hover:bg-gray-100 cursor-pointer" [routerLink]="[
                                    '/assets/components/view/',
                                    row.uid,
                                    row.id
                                ]"></mat-row>
                        </mat-table>
                    </div>

                    <div class="flex flex-col my-4">
                        <p class="text-sm font-semibold mt-5">
                            Assets under accountability
                        </p>
                        <span class="text-secondary text-sm">
                            (Mouse, Keyboards etc..)</span>
                    </div>

                    <div class="overflow-x-auto">
                        <mat-table [dataSource]="dataSourceAssignedAssets" matSort
                            class="mat-elevation-z8 custom-mat-table custom-mat-table">
                            <!-- Type Column -->
                            <ng-container matColumnDef="type">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
                                <mat-cell class="text-sm" *matCellDef="let element">{{ element.type || "N/A"
                                    }}</mat-cell>
                            </ng-container>

                            <!-- Date Acquired Column -->
                            <ng-container matColumnDef="dateAcquired">
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="-ml-5">Date
                                    Acquired</mat-header-cell>
                                <mat-cell class="text-sm" *matCellDef="let element" class="-ml-5">{{
                                    element.date_acquired
                                    ? (element.date_acquired
                                    | date : "MMMM d, y")
                                    : "N/A"
                                    }}
                                </mat-cell>
                            </ng-container>

                            <!-- Asset Barcode Column -->
                            <ng-container matColumnDef="assetBarcode">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Barcode</mat-header-cell>
                                <mat-cell class="text-sm" *matCellDef="let element">{{
                                    element.asset_barcode || "N/A"
                                    }}</mat-cell>
                            </ng-container>

                            <!-- Brand Column -->
                            <ng-container matColumnDef="brand">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Brand</mat-header-cell>
                                <mat-cell class="text-sm" *matCellDef="let element">{{ element.brand || "N/A"
                                    }}</mat-cell>
                            </ng-container>

                            <!-- Model Column -->
                            <ng-container matColumnDef="model">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Model</mat-header-cell>
                                <mat-cell class="text-sm" *matCellDef="let element">{{ element.model || "N/A"
                                    }}</mat-cell>
                            </ng-container>

                            <!-- Asset Personal History Column -->
                            <ng-container matColumnDef="personalHistory">
                                <mat-header-cell *matHeaderCellDef mat-sort-header
                                    style="width: 600px; white-space: normal">
                                    History
                                </mat-header-cell>
                                <mat-cell class="text-sm truncate" *matCellDef="let element"
                                    style="width: 600px; white-space: normal">
                                    {{
                                    element.history?.$values?.length
                                    ? element.history.$values.join(", ")
                                    .length > 50
                                    ? element.history.$values
                                    .join(", ")
                                    .substring(0, 50) + "..."
                                    : element.history.$values.join(
                                    ", "
                                    )
                                    : "N/A"
                                    }}
                                </mat-cell>
                            </ng-container>

                            <!-- Status Column -->
                            <ng-container matColumnDef="status">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                                <mat-cell class="text-sm" *matCellDef="let element">{{ element.status || "N/A"
                                    }}</mat-cell>
                            </ng-container>

                            <!-- Header and Rows -->
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns"
                                class="hover:bg-gray-100 cursor-pointer" [routerLink]="
                                    '/assets/inventory/view/' + row.id
                                ">
                            </mat-row>
                        </mat-table>
                    </div>
                </div>

                <div id="acknowledgmentSection" #acknowledgmentSection>
                    <div class="flex flex-col w-full gap-4 mt-8 text-sm">
                        <p>
                            I HEREBY ACKNOWLEDGE RECEIPT OF AND ACCEPT
                            RESPONSIBILITY OF THE ABOVE ASSETS ISSUED TO ME IN
                            ACCORDANCE WITH THE COMPANY POLICY AND PROCEDURES.
                            UPON SEPARATION FROM THE COMPANY, I WILL RETURN THE
                            ITEM(S) ISSUED TO ME IN GOOD WORKING CONDITION
                            (SUBJECT TO ASSESMENT OF ASSET'S WEAR AND TEAR).
                        </p>
                        <p>
                            FURTHER UNDERSTAND THAT THE ISSUED ASSET(S) IS/ARE
                            FOR COMPANY USE ONLY AND FAILTURE TO COMPLY WITH THE
                            COMPANY POLICY AND PROCEDURES WILL BE SUBJECTED TO
                            DISCIPLINARY ACTION. WITH PROPER INVESTIGATION, ANY
                            DAMAGES OR LOSS DUE TO MY NEGLIGENCE WILL BE
                            AUTOMATICALLY CHARGED AND/OR DEDUCTED TO MY SALARY.
                        </p>
                    </div>

                    <div class="flex flex-col w-full gap-4 mt-12 lg:flex-row md:flex-row">
                        <div class="flex-grow flex-col">
                            <p class="text-sm tracking-tight font-bold uppercase">
                                Prepared by:
                            </p>

                            <!-- Signature Image -->
                            <div class="flex-grow text-start">
                                <div class="flex justify-start items-start">
                                    <ng-container *ngIf="
                                            accountabilityApproval?.checkedByUser;
                                            else blankSignature
                                        ">
                                        <img *ngIf="
                                                accountabilityApproval
                                                    ?.checkedByUser
                                                    ?.e_signature;
                                                else defaultSignature
                                            " [src]="
                                                imageUrl +
                                                '/' +
                                                accountabilityApproval
                                                    ?.checkedByUser?.e_signature
                                            " alt="Signature" class="mt-4 h-20 w-48 opacity-50" />
                                    </ng-container>
                                </div>

                                <!-- Blank Image Placeholder -->
                                <ng-template #defaultSignature>
                                    <img src="assets/images/logo/signature.png" alt="Default Signature"
                                        class="mt-4 w-48 opacity-50" />
                                </ng-template>

                                <!-- Blank Image Placeholder (Shown only if accountabilityApproval?.checkedByUser doesn't exist) -->
                                <ng-template #blankSignature>
                                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="
                                        alt="Blank Signature" class="mt-4 w-20 opacity-0" />
                                </ng-template>

                                <!-- Show Name & Role -->
                                <div class="flex flex-row gap-8 -mt-10 uppercase">
                                    <div class="flex flex-col w-48">
                                        <p class="text-md border-t m-1 text-center items-center">
                                            {{
                                            accountabilityApproval
                                            ?.checkedByUser?.name
                                            ? accountabilityApproval
                                            .checkedByUser.name
                                            : user?.role === "admin"
                                            ? user?.name
                                            : "NOT AVAILABLE"
                                            }}
                                        </p>

                                        <span class="text-sm text-gray-600 text-center items-center">
                                            {{
                                            accountabilityApproval
                                            ?.checkedByUser?.designation
                                            ? accountabilityApproval
                                            .checkedByUser
                                            .designation
                                            : user?.role === "admin"
                                            ? user?.designation
                                            : "IT MANAGER"
                                            }}
                                        </span>
                                    </div>
                                    <p class="text-xs tracking-tight font-bold uppercase mt-1.5">
                                        Date
                                        <span class="font-medium">
                                            {{
                                            accountabilityApproval?.checked_date
                                            ? (accountabilityApproval.checked_date
                                            | date : "MMMM d, y")
                                            : "N/A"
                                            }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="grid grid-cols-1 lg:grid-cols-2">
                                <div class="flex-grow text-start">
                                    <div class="flex justify-start items-start">
                                        <ng-container *ngIf="
                                                accountabilityApproval?.receivedByUser;
                                                else blankSignature
                                            ">
                                            <img *ngIf="
                                                    accountabilityApproval
                                                        ?.receivedByUser
                                                        ?.e_signature;
                                                    else defaultSignature
                                                " [src]="
                                                 imageUrl +
                                                 '/' +
                                                 accountabilityApproval
                                                     ?.receivedByUser?.e_signature
                                             " alt="Signature" class="mt-4 h-20 w-48 opacity-50" />
                                        </ng-container>
                                    </div>

                                    <ng-template #defaultSignature>
                                        <img src="assets/images/logo/signature.png" alt="Default Signature"
                                            class="mt-4 w-48 opacity-50" />
                                    </ng-template>

                                    <!-- Blank Image Placeholder (Shown only if accountabilityApproval?.checkedByUser doesn't exist) -->
                                    <ng-template #blankSignature>
                                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="
                                            alt="Blank Signature" class="mt-4 w-20 opacity-0" />
                                    </ng-template>
                                    <div class="flex flex-row gap-8 -mt-10 uppercase">
                                        <!-- Name and Role -->
                                        <div class="flex flex-col w-48">
                                            <p class="text-md border-t m-1 text-center items-center">
                                                {{
                                                accountabilityApproval
                                                ?.receivedByUser?.name
                                                ? accountabilityApproval
                                                .receivedByUser
                                                .name
                                                : user?.role ===
                                                "receiver"
                                                ? user?.name
                                                : "NOT AVAILABLE"
                                                }}
                                            </p>

                                            <span class="text-sm text-gray-600 text-center items-center">
                                                {{
                                                accountabilityApproval
                                                ?.receivedByUser
                                                ?.designation
                                                ? accountabilityApproval
                                                .receivedByUser
                                                .designation
                                                : user?.role ===
                                                "receiver"
                                                ? user?.designation
                                                : "IT/OT LEAD"
                                                }}
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <!-- chcker -->
                                <div class="flex-grow text-start">
                                    <div class="flex justify-start items-start">
                                        <ng-container *ngIf="
                                                accountabilityApproval?.confirmedByUser;
                                                else blankSignature
                                            ">
                                            <img *ngIf="
                                                    accountabilityApproval
                                                        ?.confirmedByUser
                                                        ?.e_signature;
                                                    else defaultSignature
                                                " [src]="
                                                imageUrl +
                                                '/' +
                                                accountabilityApproval
                                                    ?.confirmedByUser?.e_signature
                                            " alt="Signature" class="mt-4 h-20 w-48 opacity-50" />
                                        </ng-container>
                                    </div>

                                    <ng-template #defaultSignature>
                                        <img src="assets/images/logo/signature.png" alt="Default Signature"
                                            class="mt-4 w-48 opacity-50" />
                                    </ng-template>

                                    <!-- Blank Image Placeholder (Shown only if accountabilityApproval?.checkedByUser doesn't exist) -->
                                    <ng-template #blankSignature>
                                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="
                                            alt="Blank Signature" class="mt-4 w-20 opacity-0" />
                                    </ng-template>
                                    <div class="flex flex-row gap-8 -mt-10 uppercase">
                                        <!-- Name and Role -->
                                        <div class="flex flex-col w-48">
                                            <p class="text-md border-t m-1 text-center items-center">
                                                {{
                                                accountabilityApproval
                                                ?.confirmedByUser?.name
                                                ? accountabilityApproval
                                                .confirmedByUser
                                                .name
                                                : user?.role ===
                                                "checker"
                                                ? user?.name
                                                : "NOT AVAILABLE"
                                                }}
                                            </p>

                                            <span class="text-sm text-gray-600 text-center items-center">
                                                {{
                                                accountabilityApproval
                                                ?.confirmedByUser
                                                ?.designation
                                                ? accountabilityApproval
                                                .confirmedByUser
                                                .designation
                                                : user?.role ===
                                                "checker"
                                                ? user?.designation
                                                : "IT/OT END "
                                                }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- chcker -->
                            </div>
                        </div>

                        <div class="flex-grow flex-col">
                            <div class="flex-grow text-start">
                                <div class="flex flex-row gap-8">
                                    <p class="text-sm tracking-tight font-bold uppercase">
                                        Received by:
                                    </p>
                                </div>
                        
                                <div class="flex justify-start items-start mt-2">
                                    <img src="assets/images/logo/signature.png" alt="Signature"
                                        class="mt-4 w-48 opacity-80" />
                                </div>
                        
                                <div class="flex flex-row gap-12 -mt-10 uppercase">
                                    <div class="flex flex-col">
                                        <p class="text-md border-t">
                                            {{ asset.user_accountability_list.owner.name || "N/A" }}
                                        </p>
                                        <span class="text-sm text-gray-600 text-center items-center">
                                            {{ asset.user_accountability_list.owner.designation || "N/A" }}
                                        </span>
                                    </div>
                                    <p class="text-xs tracking-tight font-bold uppercase mt-1.5">
                                        Date
                                        <span class="font-medium">
                                            {{ datenow ? (datenow | date : "MMMM d, y") : "N/A" }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fixed bottom-4 right-4 flex flex-col space-y-4">
        <!-- <button
            class="bg-white shadow-lg flex items-center justify-center hover:bg-blue-50 p-2 rounded-full transition-colors"
            (click)="receiveByUser()" matTooltip="Approve document" matTooltipPosition="above"
            aria-label="Approve document" style="width: 56px; height: 56px">
            <mat-icon svgIcon="verified" class="text-blue-500"></mat-icon>
        </button> -->

        <button
            class="bg-white shadow-lg flex items-center justify-center hover:bg-blue-50 p-2 rounded-full transition-colors"
            (click)="preparedByUser()" matTooltip="Prepared by User" matTooltipPosition="above"
            aria-label="Prepared by User" style="width: 56px; height: 56px">
            <mat-icon svgIcon="verified" class="text-blue-500"></mat-icon>
        </button>

        <!-- New Button: Only visible if user.role is 'checker' -->
        <button
            class="bg-white shadow-lg flex items-center justify-center hover:bg-blue-50 p-2 rounded-full transition-colors"
            (click)="approvedByUser()" matTooltip="Receive document" matTooltipPosition="above"
            aria-label="Receive document" style="width: 56px; height: 56px">
            <mat-icon svgIcon="verified" class="text-green-500"></mat-icon>
        </button>

        <button
            class="bg-white shadow-lg flex items-center justify-center hover:bg-blue-50 p-2 rounded-full transition-colors"
            (click)="pdfForm()" matTooltip="Generate PDF form" matTooltipPosition="above" aria-label="Generate PDF form"
            style="width: 56px; height: 56px">
            <img class="h-8 w-6" src="assets/images/svgs/pdf-svgrepo-com.svg" />
        </button>
    </div>
</div>