<div *ngIf="asset" class="flex flex-col flex-auto min-w-0 overflow-hidden">
    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent"
    >
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div>
                <div class="hidden sm:flex flex-wrap items-center font-medium">
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <a class="ml-1 text-primary-500">Assets</a>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon
                            class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-right'"
                        ></mat-icon>
                        <a
                            class="ml-1 text-primary-500 cursor-pointer"
                            [routerLink]="'/assets/accountability'"
                            >Accountability List</a
                        >
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon
                            class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-right'"
                        ></mat-icon>
                        <span class="ml-1 text-secondary">View </span>
                    </div>
                </div>
                <div class="flex sm:hidden">
                    <a
                        class="inline-flex items-center -ml-1.5 text-secondary font-medium"
                        [routerLink]="'/assets/accountability'"
                    >
                        <mat-icon
                            class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-left'"
                        ></mat-icon>
                        <span class="ml-1">Back</span>
                    </a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-4 flex flex-col gap-4">
                <!-- Image Section -->
                <div class="flex flex-row gap-4">
                    <img
                        src="https://pngimg.com/uploads/qr_code/small/qr_code_PNG7.png"
                        alt="Sample Image"
                        class="h-28 w-28"
                    />
                    <div class="flex flex-col gap-2">
                        <p class="font-semibold text-2xl">
                            Accountability Id:
                            {{
                                        asset?.user_accountability_list
                                        ?.accountability_code
                            }}
                        </p>
                        <p class="text-secondary font-semibold">
                            Tracking Id:
                            <span class="text-secondary font-medium">{{
                                   asset?.user_accountability_list
                                   ?.tracking_code
                            }}</span>
                        </p>
                        <div class="flex flex-row gap-2">
                            <button
                                class="w-full sm:w-auto mt-4 sm:mt-0 flex items-center justify-center"
                                (click)="printForm()"
                            >
                                <mat-icon
                                    class="icon-size-4 text-blue-600"
                                    [svgIcon]="'feather:printer'"
                                ></mat-icon>
                                <span class="ml-1 mr-1 text-sm text-blue-600"
                                    >Print</span
                                >
                            </button>
                        </div>
                    </div>
                </div>

                <div class="flex flex-row gap-1"></div>
            </div>
        </div>
        <div
            class="hidden sm:flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4"
        >
            <button
                class="ml-4"
                mat-icon-button
                [routerLink]="'/assets/accountability'"
            >
                <mat-icon [svgIcon]="'close'"></mat-icon>
                <!-- <span class="ml-2 mr-1">Go back</span> -->
            </button>
        </div>
    </div>
    <div id="printableArea">
        <div class="flex flex-col h-full sm:mx-0 md:mx-0 lg:mx-12 lg:my-4">
            <form
                class="flex flex-col flex-grow px-8 pt-10 bg-card rounded w-full overflow-hidden"
            >
                <p class="text-lg font-bold text-2xl">Asset Information</p>
                <mat-divider class="mt-6 mb-4"></mat-divider>
                <div class="flex flex-row mt-2 gap-4">
                    <img
                        src="https://media.licdn.com/dms/image/v2/C560BAQHWJD_zzL0r7g/company-logo_200_200/company-logo_200_200/0/1630654266817/ana_s_breeders_farms_inc_and_affiliates_logo?e=2147483647&v=beta&t=LI_9i14ZJBmpdCtpPVSd5G1uePtoZ4AwzDx3djID7qA"
                        alt="Sample QR"
                        class="h-32 w-32"
                    />
                    <div class="flex flex-col sm:flex-row justify-between">
                        <div class="flex flex-col gap-2">
                            <p class="text-primary font-bold text-2xl">
                                Accountability Id:
                                <span class="text-secondary text-lg">{{
                                    asset?.user_accountability_list
                                        ?.accountability_code
                                }}</span>
                            </p>
                            <p class="text-secondary">Status: Active</p>
                        </div>
                        <mat-divider class="mx-12" vertical></mat-divider>
                        <div class="flex flex-col gap-4">
                            <div class="flex flex-row gap-12">
                                <div>
                                    <p class="text-primary font-bold text-lg">
                                        Accountable to:
                                    </p>
                                    <p class="text-secondary">
                                        {{ asset?.owner.name || "N/A" }}
                                    </p>
                                </div>
                                <!-- <mat-divider class="mx-12" vertical></mat-divider> -->

                                <div>
                                    <p class="text-primary font-bold text-lg">
                                        Department
                                    </p>
                                    <p class="text-secondary">
                                        {{ asset?.owner.department || "N/A" }}
                                    </p>
                                </div>
                            </div>
                            <div class="flex flex-row gap-12">
                                <div>
                                    <p class="text-primary font-bold text-lg">
                                        Company:
                                    </p>
                                    <p class="text-secondary">
                                        {{ asset?.owner.company || "N/A" }}
                                    </p>
                                </div>
                            </div>

                            <div>
                                <p class="text-primary font-bold text-lg">
                                    Accountability created:
                                </p>
                                <p class="text-secondary">
                                    {{ asset?.owner.date_created || "N/A" }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <mat-divider class="mt-6 mb-3"></mat-divider>

                <div class="flex flex-col my-4">
                    <p class="text-lg font-medium mt-5">
                        Computer under accountability
                    </p>
                    <span class="text-secondary text-sm">
                        (Desktop, Laptops, etc..)</span
                    >
                </div>

                <div class="overflow-x-auto">
                    <mat-table
                        [dataSource]="dataSourceComputers"
                        matSort
                        class="mat-elevation-z8"
                    >
                        <!-- Type Column -->
                        <ng-container matColumnDef="type">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Type
                            </mat-header-cell>
                            <mat-cell class="text-sm" *matCellDef="let element">
                                {{ element.type || "N/A" }}
                            </mat-cell>
                        </ng-container>

                        <!-- Date Acquired Column -->
                        <ng-container matColumnDef="dateAcquired">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Date Acquired
                            </mat-header-cell>
                            <mat-cell class="text-sm" *matCellDef="let element">
                                {{ element.dateAcquired || "N/A" }}
                            </mat-cell>
                        </ng-container>

                        <!-- Asset Barcode Column -->
                        <ng-container matColumnDef="assetBarcode">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Asset Barcode
                            </mat-header-cell>
                            <mat-cell class="text-sm" *matCellDef="let element">
                                {{ element.assetBarcode || "N/A" }}
                            </mat-cell>
                        </ng-container>

                        <!-- Brand Column -->
                        <ng-container matColumnDef="brand">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Brand
                            </mat-header-cell>
                            <mat-cell class="text-sm" *matCellDef="let element">
                                {{ element.brand || "N/A" }}
                            </mat-cell>
                        </ng-container>

                        <!-- Model Column -->
                        <ng-container matColumnDef="model">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Model
                            </mat-header-cell>
                            <mat-cell class="text-sm" *matCellDef="let element">
                                {{ element.model || "N/A" }}
                            </mat-cell>
                        </ng-container>

                        <!-- Asset Personal History Column -->
                        <ng-container matColumnDef="personalHistory">
                            <mat-header-cell class="mx-12" *matHeaderCellDef mat-sort-header style="width: 600px; white-space: normal">
                                Asset Personal History
                            </mat-header-cell>
                            <mat-cell class="mx-12 text-sm truncate" *matCellDef="let element" style="width: 600px; white-space: normal">
                                {{ element.history?.$values?.length ? element.history.$values.join(", ") : 'N/A' }}
                            </mat-cell>
                        </ng-container>
                        
                        <!-- Status Column -->
                        <ng-container matColumnDef="status">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Status
                            </mat-header-cell>
                            <mat-cell class="text-sm" *matCellDef="let element">
                                {{ element.status || "N/A" }}
                            </mat-cell>
                        </ng-container>

                        <!-- Header and Rows -->
                        <mat-header-row
                            *matHeaderRowDef="displayedColumns"
                        ></mat-header-row>
                        <mat-row
                            *matRowDef="let row; columns: displayedColumns"
                            class="hover:bg-gray-100 cursor-pointer"
                            [routerLink]="'/assets/computers/view/' + row.id"
                        ></mat-row>
                    </mat-table>
                </div>

                <div class="flex flex-col my-4">
                    <p class="text-lg font-medium mt-5">
                        Assets under accountability
                    </p>
                    <span class="text-secondary text-sm">
                        (Mouse, Keyboards, Monitors, Speakers etc..)</span
                    >
                </div>

                <div class="overflow-x-auto">
                    <mat-table [dataSource]="dataSourceAssignedAssets" matSort class="mat-elevation-z8">
                        <!-- Type Column -->
                        <ng-container matColumnDef="type">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
                            <mat-cell class="text-sm" *matCellDef="let element">{{ element.type || "N/A" }}</mat-cell>
                        </ng-container>
                    
                        <!-- Date Acquired Column -->
                        <ng-container matColumnDef="dateAcquired">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Date Acquired</mat-header-cell>
                            <mat-cell class="text-sm" *matCellDef="let element">{{ element.date_acquired || "N/A" }}</mat-cell>
                        </ng-container>
                    
                        <!-- Asset Barcode Column -->
                        <ng-container matColumnDef="assetBarcode">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Asset Barcode</mat-header-cell>
                            <mat-cell class="text-sm" *matCellDef="let element">{{ element.asset_barcode || "N/A" }}</mat-cell>
                        </ng-container>
                    
                        <!-- Brand Column -->
                        <ng-container matColumnDef="brand">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Brand</mat-header-cell>
                            <mat-cell class="text-sm" *matCellDef="let element">{{ element.brand || "N/A" }}</mat-cell>
                        </ng-container>
                    
                        <!-- Model Column -->
                        <ng-container matColumnDef="model">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Model</mat-header-cell>
                            <mat-cell class="text-sm" *matCellDef="let element">{{ element.model || "N/A" }}</mat-cell>
                        </ng-container>
                    
                        <!-- Asset Personal History Column -->
                        <ng-container matColumnDef="personalHistory">
                            <mat-header-cell class="mx-12" *matHeaderCellDef mat-sort-header style="width: 600px; white-space: normal">
                                Asset Personal History
                            </mat-header-cell>
                            <mat-cell class="mx-12 text-sm truncate" *matCellDef="let element" style="width: 600px; white-space: normal">
                                {{ element.history?.$values?.length ? element.history.$values.join(", ") : 'N/A' }}
                            </mat-cell>
                        </ng-container>
                        
                    
                        <!-- Status Column -->
                        <ng-container matColumnDef="status">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                            <mat-cell class="text-sm" *matCellDef="let element">{{ element.status || "N/A" }}</mat-cell>
                        </ng-container>
                    
                        <!-- Header and Rows -->
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns"
                                 class="hover:bg-gray-100 cursor-pointer"
                                 [routerLink]="'/assets/inventory/view/' + row.id">
                        </mat-row>
                    </mat-table>
                    
                </div>

                <div class="flex flex-row gap-4"></div>

                <!-- <mat-divider class="mt-6 mb-10"></mat-divider> -->

                <p class="text-sm font-medium mt-10">Current Owner Details</p>
                <p class="text-sm text-secondary mb-6">
                    Current owner of the asset details.
                </p>

                <div class="flex flex-row gap-4">
                    <div class="flex flex-col flex-grow gap-4">
                        <p class="flex flex-col font-medium text-sm">
                            Owner name
                            <span class="text-secondary text-sm">
                                {{ asset.owner.name || "N/A" }}
                            </span>
                        </p>
                        <p class="flex flex-col font-medium text-sm">
                            Company
                            <span class="text-secondary text-sm">
                                {{ asset.owner.company || "N/A" }}
                            </span>
                        </p>
                        <p class="flex flex-col font-medium text-sm">
                            Department
                            <span class="text-secondary text-sm">
                                {{ asset.owner.department || "N/A" }}
                            </span>
                        </p>
                    </div>
                    <div class="flex flex-col flex-grow gap-4">
                        <p class="flex flex-col font-medium text-sm">
                            Employee Id
                            <span class="text-secondary text-sm">
                                {{ asset.owner.employee_id || "N/A" }}
                            </span>
                        </p>
                        <p class="flex flex-col font-medium text-sm">
                            Designation
                            <span class="text-secondary text-sm">
                                {{ asset.owner.designation || "N/A" }}
                            </span>
                        </p>
                        <p class="flex flex-col font-medium text-sm">
                            Business unit
                            <span class="text-secondary text-sm">
                                {{ asset.owner.business_unit || "N/A" }}
                            </span>
                        </p>
                    </div>
                </div>

                <!-- <mat-divider class="mt-10 mb-10"></mat-divider>  -->
            </form>
        </div>
    </div>
</div>
