<div *ngIf="asset" class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent"
    >
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div>
                <div class="hidden sm:flex flex-wrap items-center font-medium">
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <a class="ml-1 text-primary-500">Components</a>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon
                            class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-right'"
                        ></mat-icon>
                        <a
                            class="ml-1 text-primary-500 cursor-pointer"
                            [routerLink]="'/assets/components'"
                            >Components List</a
                        >
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon
                            class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-right'"
                        ></mat-icon>
                        <span class="ml-1 text-secondary">View </span>
                    </div>
                </div>
                <div class="flex sm:hidden">
                    <a
                        class="inline-flex items-center -ml-1.5 text-secondary font-medium"
                        [routerLink]="'/assets/components'"
                    >
                        <mat-icon
                            class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-left'"
                        ></mat-icon>
                        <span class="ml-1">Back</span>
                    </a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-4 flex flex-col gap-4">
                <!-- Image Section -->
                <div class="flex flex-row gap-4">
                    <img
                        src="https://i.dell.com/is/image/DellContent/content/dam/ss2/product-images/dell-client-products/notebooks/inspiron-notebooks/14-2-in-1-7440-intel/media-gallery/notebook-inspiron-14-7440-t-ice-blue-gallery-17.psd?fmt=png-alpha&pscan=auto&scl=1&hei=804&wid=1336&qlt=100,1&resMode=sharp2&size=1336,804&chrss=full"
                        alt="Sample Image"
                        class="h-28 w-32"
                    />
                    <div class="flex flex-col gap-2">
                        <p class="font-semibold text-2xl">
                            {{ asset.type }}
                        </p>
                        <p class="text-secondary font-semibold">
                            Inventory Code:
                            <span class="text-secondary font-medium">{{
                                asset.uid || "N/A"
                            }} {{
                                asset.id || "N/A"
                            }}</span>
                        </p>
                        <div class="flex flex-row gap-2">                      
                        </div>
                    </div>
                </div>

                <div class="flex flex-row gap-1"></div>
            </div>
        </div>
        <div
            class="hidden sm:flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4"
        >
            <button
                class="ml-4"
                mat-icon-button
                [routerLink]="'/assets/components'"
            >
                <mat-icon [svgIcon]="'close'"></mat-icon>             
            </button>
        </div>
    </div>

    <div class="flex flex-col sm:mx-0 md:mx-0 lg:mx-64 lg:my-4">
        <form [formGroup]="eventForm" (ngSubmit)="updateComponent()"
            class="flex flex-col flex-grow px-8 pt-10 bg-card shadow-lg rounded w-full overflow-hidden"
        >
            <p class="text-lg font-bold text-2xl">Edit information</p>
            <mat-divider class="mt-6 mb-4"></mat-divider>
            <div class="flex flex-col w-full mt-2 gap-2">
                <div class="flex flex-col flex-grow sm:flex-row gap-2">
                    <div class="flex flex-row w-full">
                        <div class="flex w-full ">
                            <div class="flex flex-col items-center mr-5 md:w-32 w-64">
                                <label
                                    for="select-image"
                                    class="cursor-pointer flex flex-col items-center"
                                >
                                    <img
                                        id="preview-image"
                                        src="https://static.vecteezy.com/system/resources/thumbnails/022/059/000/small_2x/no-image-available-icon-vector.jpg"
                                        alt="Select Image"
                                        class="h-32 w-32 object-contain border border-gray-300 rounded-md"
                                    />
                                    <span class="text-secondary text-regular mt-2">
                                        <mat-icon
                                            class="icon-size-4 mt-1 text-secondary"
                                            [svgIcon]="'feather:edit'"
                                        ></mat-icon>
                                        Select new image
                                    </span>
                                </label>
                                <input
                                formControlName="image"
                                    id="select-image"
                                    type="file"
                                    accept="image/*"
                                    class="hidden"
                                    (change)="previewSelectedImage($event)"
                                />
                            </div> 
                            <div class="flex flex-col w-full">                               
                                <mat-form-field class="w-full" appearance="fill">
                                    <!-- Make mat-form-field take full width -->
                                    <mat-label
                                        class="text-primary font-semibold text-lg"
                                        >Inventory code</mat-label
                                    >
                                    <mat-icon
                                        svgIcon="feather:hash"
                                        class="icon-size-4"
                                    ></mat-icon>
                                    <input matInput id="uid" formControlName="uid" />
                                </mat-form-field>
                            </div>
                           
                        </div>
                      
                    </div>

                    <div class="flex flex-col w-full gap-4">
                        <div class="flex flex-grow w-full justify-start">
                            <!-- Make this div take full width -->
                            <mat-form-field class="w-full" appearance="fill">
                                <!-- Make mat-form-field take full width -->
                                <mat-label
                                    class="text-primary font-bold text-lg"
                                    >Component Description</mat-label
                                >
                                <mat-icon
                                    svgIcon="feather:server"
                                    class="icon-size-4 mr-1"
                                ></mat-icon>
                                <input matInput id="description" formControlName="description" />
                            </mat-form-field>
                        </div>                      
                    </div>
                </div>
            </div>    
            <div
            class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700"
        >
            <!-- <button mat-stroked-button>Reset Form</button> -->
            <button class="px-6 ml-3" type="submit" mat-flat-button [color]="'primary'">
                Save Changes
            </button>
            
        </div>
        </form>
    </div>
</div>
