<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent"
    >
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div>
                <div class="hidden sm:flex flex-wrap items-center font-medium">
                    <div
                        class="flex items-center ml-1 whitespace-nowrap truncate"
                    >
                        <a class="ml-1 text-primary-500 truncate">Assets</a>
                    </div>
                    <div
                        class="flex items-center ml-1 whitespace-nowrap truncate"
                    >
                        <mat-icon
                            class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-right'"
                        ></mat-icon>
                        <span class="ml-1 text-secondary truncate"
                            >Inventory List</span
                        >
                    </div>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2
                    class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate"
                >
                    Inventory List
                </h2>
            </div>
        </div>

        <div class="flex flex-col gap-3">
            <div class="flex justify-end flex-wrap items-center mt-6 sm:mt-0">
                <!-- Add Inventory Button -->
                <button
                    class="w-full sm:w-auto mt-4 sm:mt-0 sm:ml-4 flex items-center justify-center"
                    mat-stroked-button
                    [routerLink]="'/assets/inventory/add'"
                >
                    <mat-icon [svgIcon]="'feather:plus'"></mat-icon>
                    <span class="ml-2 mr-1">Add Inventory</span>
                </button>
                <!-- Select Category -->
                <!-- <mat-form-field
                        class="fuse-mat-no-subscript w-full sm:w-72 mt-4 sm:mt-0 sm:ml-4"
                    >
                        <mat-select
                            [(value)]="selectedTypes"
                            (selectionChange)="onCategoryChange($event.value)"
                        >
                            <mat-option *ngFor="let type of types" [value]="type">
                                {{ type }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field> -->

                <!-- Search Inventory Tag -->
                <mat-form-field
                    class="fuse-mat-no-subscript w-full sm:w-72 mt-4 sm:mt-0 sm:ml-4"
                >
                    <mat-icon
                        matPrefix
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:search'"
                    ></mat-icon>
                    <input
                        matInput
                        placeholder="Search"
                        [formControl]="typeFilterControl"
                        
                    />
                    <!-- <mat-autocomplete
                        #auto="matAutocomplete"
                        (optionSelected)="onTypeSelected($event.option.value)"
                    >
                        <mat-option
                            *ngFor="let option of filteredTypeOptions | async"
                            [value]="option"
                        >
                            {{ option }}
                        </mat-option>
                    </mat-autocomplete> -->
                    <!-- <input
                        matInput
                        placeholder="Search by Type"
                        [formControl]="typeFilterControl"
                        [matAutocomplete]="auto"
                    />
                    <mat-autocomplete
                        #auto="matAutocomplete"
                        (optionSelected)="onTypeSelected($event.option.value)"
                    >
                        <mat-option
                            *ngFor="let option of filteredTypeOptions | async"
                            [value]="option"
                        >
                            {{ option }}
                        </mat-option>
                    </mat-autocomplete> -->
                </mat-form-field>
            </div>
            <div class="justify-end flex flex-wrap items-center mt-4 sm:mt-0">
                <mat-button-toggle-group
                    class="gap-3"
                    name="typeFilter"
                    aria-label="Type Filter"
                    [(ngModel)]="selectedTypeToggle"
                    (change)="onTypeSelected()"
                    multiple
                >
                    <mat-button-toggle
                        *ngFor="let type of allTypes"
                        class="bg-gray-50 text-gray-800"
                        [value]="type"
                    >
                        <mat-icon
                            *ngIf="selectedTypeToggle.includes(type)"
                            class="ml-2 icon-size-3 text-gray-900"
                            svgIcon="mat_outline:check"
                        ></mat-icon>
                        {{ type }}
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="pt-0">
        <div class="mat-elevation-z8 overflow-x-auto overflow-y-auto">
            <table
                mat-table
                [dataSource]="dataSource"
                matSort
                (matSortChange)="announceSortChange($event)"
                class="min-w-full bg-white rounded-lg shadow-md"
            >
                <!-- <ng-container matColumnDef="asset_img">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        class="py-4 text-left text-gray-600 font-semibold inventory-tag-header custom-left-align"
                    >
                        <mat-icon class="icon-size-4 mr-4"></mat-icon>
                    </th>
                    <td
                        mat-cell
                        *matCellDef="let element"
                        class="ml-4 border-b border-gray-200 py-4 text-sm font-semibold inventory-tag-cell"
                    >
                        <img
                            src="https://i.dell.com/is/image/DellContent/content/dam/ss2/product-images/dell-client-products/notebooks/inspiron-notebooks/14-2-in-1-7440-intel/media-gallery/notebook-inspiron-14-7440-t-ice-blue-gallery-17.psd?fmt=png-alpha&pscan=auto&scl=1&hei=804&wid=1336&qlt=100,1&resMode=sharp2&size=1336,804&chrss=full"
                            alt="Sample Image"
                            class="h-12 w-14 border border-gray-300 rounded-sm p-2"
                        />
                    </td>
                </ng-container> -->
                <ng-container matColumnDef="asset_barcode">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        class="py-4 text-left text-gray-600 font-semibold inventory-tag-header custom-left-align w-42"
                    >
                        <mat-icon
                            class="icon-size-4 mr-4"
                            svgIcon="feather:tag"
                        ></mat-icon>
                        Asset Barcode
                    </th>
                    <td
                        mat-cell
                        *matCellDef="let element"
                        class="ml-4 border-r border-gray-200 py-4 text-sm font-semibold inventory-tag-cell"
                    >
                        # {{ element.asset_barcode || "N/A" }}
                    </td></ng-container
                >

                <ng-container matColumnDef="type">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        class="py-4 text-left text-gray-600 font-semibold inventory-tag-header custom-left-align"
                    >
                        Type
                    </th>
                    <td
                        mat-cell
                        *matCellDef="let element"
                        class="border-r border-gray-200 px-4 py-4 text-sm font-semibold inventory-tag-cell"
                    >
                        {{ element.type || "N/A" }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="date_acquired">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        class="px-4 py-2 text-left text-gray-600 font-semibold"
                    >
                        Date Acquired
                    </th>
                    <td
                        mat-cell
                        *matCellDef="let element"
                        class="border-r border-gray-200 text-sm px-4 py-2"
                    >
                        {{
                            element.date_acquired
                                ? (element.date_acquired | date : "MM/dd/yyyy")
                                : "N/A"
                        }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="pc_type">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        class="px-4 py-2 text-left text-gray-600 font-semibold"
                    >
                        Unit Type
                    </th>
                    <td
                        mat-cell
                        *matCellDef="let element"
                        class="border-r border-gray-200 text-sm px-4 py-2 pr-12"
                    >
                        {{ element.type || "N/A" }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="brand">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        class="px-4 py-2 text-left text-gray-600 font-semibold"
                    >
                        Brand
                    </th>
                    <td
                        mat-cell
                        *matCellDef="let element"
                        class="border-r border-gray-200 text-sm px-4 py-2"
                    >
                        {{ element.brand || "N/A" }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="serial_no">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        class="px-4 py-2 text-left text-gray-600 font-semibold w-36"
                    >
                        Serial Number
                    </th>
                    <td
                        mat-cell
                        *matCellDef="let element"
                        class="border-r border-gray-200 text-sm px-4 py-2 "
                    >
                        {{ element.serial_no || "N/A" }}
                    </td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="status">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        class="text-left  text-gray-900 font-semibold inventory-tag-header custom-left-align w-36"
                    >
                        <div class="flex ml-4">Status</div>
                    </th>
                    <td
                        mat-cell
                        *matCellDef="let element"
                        class="border-r border-gray-200 text-sm px-4 py-0"
                    >
                    <div class="flex ml-4">
                        <div class="flex flex-row">
                            <span
                            [ngClass]="{'bg-red-500': element.status === 'INACTIVE', 'bg-green-500': element.status !== 'INACTIVE'}"
                            class="flex w-2 h-2 mt-1.5 me-3 rounded-full">
                            </span>
                            <p class="ml-2 text-md">
                                {{element.status || 'N/A'}}
                            </p>
                        </div>
                    </div>                     
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                    mat-row
                    [routerLink]="['/assets/inventory/view', row.id]"
                    class="cursor-pointer hover:bg-gray-100"
                    *matRowDef="let row; columns: displayedColumns"
                ></tr>
            </table>
        </div>
        <!-- Paginator -->
        <div>
            <mat-paginator
                [length]="totalItems"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                [showFirstLastButtons]="true"
                #paginator
            >
            </mat-paginator>
        </div>
    </div>
</div>
