<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-4 sm:p-6 lg:p-8 border-b bg-card dark:bg-transparent"
    >
        <!-- Left Section -->
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div>
                <div class="hidden sm:flex flex-wrap items-center font-medium">
                    <div
                        class="flex items-center ml-1 whitespace-nowrap truncate"
                    >
                        <a class="ml-1 text-primary-500 truncate">Masterdata</a>
                    </div>
                    <div
                        class="flex items-center ml-1 whitespace-nowrap truncate"
                    >
                        <mat-icon
                            class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-right'"
                        ></mat-icon>
                        <span class="ml-1 text-secondary truncate"
                            >Peripheral Types List</span
                        >
                    </div>
                </div>
            </div>

            <!-- Title -->
            <div class="mt-2 truncate">
                <h2
                    class="text-2xl sm:text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate"
                >
                Peripheral Types List
                </h2>
            </div>
        </div>

        <!-- Right Section -->
        <div class="flex flex-col gap-3">
            <div class="justify-end flex flex-wrap items-center mt-4 sm:mt-0">
                <!-- Add Inventory Button -->
                <!-- <button
                    class="w-full sm:w-auto mt-2 sm:mt-0 sm:ml-2 md:ml-4 flex items-center justify-center"
                    mat-stroked-button
                    [routerLink]="'/assets/computers/add'"
                >
                    <mat-icon [svgIcon]="'feather:plus'"></mat-icon>
                    <span class="ml-2 mr-1">Add Computers</span>
                </button> -->
                <mat-form-field
                class="fuse-mat-no-subscript w-full sm:w-72 mt-4 sm:mt-0 sm:ml-4"
            >
                <mat-icon
                    matPrefix
                    class="icon-size-5"
                    [svgIcon]="'heroicons_solid:search'"
                ></mat-icon>
                <input
                    matInput
                    placeholder="Search by Type"
                    [formControl]="typeFilterControl"
                    [matAutocomplete]="auto"
                />
                <mat-autocomplete
                    #auto="matAutocomplete"
                    (optionSelected)="onTypeSelected($event.option.value)"
                >
                    <mat-option
                        *ngFor="let option of filteredTypeOptions | async"
                        [value]="option"
                    >
                        {{ option }}
                    </mat-option>
                </mat-autocomplete>
                 </mat-form-field>
            </div>
            <div class="justify-end flex flex-wrap items-center mt-4 sm:mt-0">
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="pt-0">
        <div class="mat-elevation-z8 overflow-x-auto overflow-y-auto">
            <table
                mat-table
                [dataSource]="dataSource"
                matSort
                (matSortChange)="announceSortChange($event)"
                class="min-w-full bg-white rounded-lg shadow-md"
        >              

                <ng-container matColumnDef="code">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        class="text-left text-white font-semibold inventory-tag-header custom-left-align"
                    >
                        <div class="flex ml-4">
                            <mat-icon
                                class="icon-size-4 mr-4 text-white"
                                svgIcon="feather:tag"
                            ></mat-icon>
                            Name
                        </div>
                    </th>
                    <td
                        mat-cell
                        *matCellDef="let element"
                        class="justify-center border-b ml-4 border-r border-gray-200 text-sm text-gray-900 font-bold inventory-tag-cell w-48"
                    >
                        <div class="flex items-center ml-4">
                            {{ element.code || "N/A" }}
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="description">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        class="text-left text-white font-semibold inventory-tag-header custom-left-align w-36"
                    >
                        <div class="flex ml-4">Type</div>
                    </th>
                    <td
                        mat-cell
                        *matCellDef="let element"
                        class="border-r border-gray-200 px-4 text-sm inventory-tag-cell"
                    >
                        {{ element.description || "N/A" }}
                    </td>
                </ng-container>
              

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                        class=" text-left text-gray-900 font-semibold w-24"> 
                    </th>
                    <td mat-cell *matCellDef="let element" class="border-r border-gray-200 text-sm w-12 text-center">
                        <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
                            <mat-icon class="icon-size-4" svgIcon="feather:more-vertical"></mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">                          
                            <button mat-menu-item>
                                <mat-icon>exit_to_app</mat-icon>
                                <p class="text-regular">Pull out computer</p>
                              </button> 
                            <button mat-menu-item (click)="openRemarkModal(element.id)">
                                <mat-icon>speaker_notes</mat-icon> 
                                <p class="text-regular">Set Remarks</p>
                              </button> 
                            <button mat-menu-item [routerLink]="'/assets/computers/edit/' + element.id">
                                <mat-icon class="icon-size-5" svgIcon="feather:edit"></mat-icon>
                                <p class="text-regular">Edit</p>
                              </button> 
                            <button mat-menu-item (click)="openDeleteDialog(element.id)">
                                <mat-icon class="icon-size-5" color="warn" svgIcon="feather:trash"></mat-icon>
                                <p class="text-regular">Delete</p>
                            </button>                                                                      
                        </mat-menu>
                    </td>
                </ng-container>             

                <tr mat-header-row *matHeaderRowDef="displayedColumns" class="bg-gray-900"></tr>
                <tr
                    mat-row                  
                    class="cursor-pointer hover:bg-gray-100"
                    *matRowDef="let row; columns: displayedColumns"
                ></tr>
            </table>
        </div>
        <!-- Paginator -->
        <div>
            <mat-paginator
                [pageSizeOptions]="[10, 15, 20, 50, 100]"
                [pageSize]="10"
                showFirstLastButtons
            ></mat-paginator>
        </div>
    </div>
</div>
