<!-- Import assets from excel file -->
<p class="text-lg font-medium">Import assets from excel file.</p>
<p class="text-secondary mb-6">
  Click the import button to import data from excel.
</p>
<div class="mt-12 flex flex-col items-start">
  <label
    for="dropzone-file"
    class="cursor-pointer flex w-full max-w-lg flex-col items-center rounded-xl border-2 border-dashed border-blue-400 bg-white p-6 text-center"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    (drop)="onDrop($event)"
  >
    <mat-icon svgIcon="feather:download" style="font-size: 40px;"></mat-icon>
    <h2 class="mt-4 text-xl font-medium text-gray-700 tracking-wide">
      Excel File
    </h2>
    <p class="mt-2 text-gray-500 tracking-wide">
      Upload or drag & drop your XLS or XLSX file.
    </p>
    <input 
      id="dropzone-file" 
      type="file" 
      class="hidden" 
      (change)="onFileSelected($event)" 
      accept=".xls,.xlsx"  
    />
  </label>

  <!-- Display the selected file name -->
  <div *ngIf="selectedFileName" class="mt-2 text-gray-700">
    Selected File: <strong>{{ selectedFileName }}</strong>
  </div>
  
  <button 
    class="mt-5"
    mat-flat-button [color]="'accent'"
    (click)="uploadData()"
    [disabled]="!fileSelected"  
  >
    <mat-icon
      class="icon-size-5 mr-2"
      [svgIcon]="'feather:download'"
    ></mat-icon>
    Import to xlsx to System.
  </button>
</div>
