/* Hide number input arrows for Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide number input arrows for Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

::ng-deep .placeholder-gray .mat-select-placeholder {
    color: #9ca3af !important; /* Tailwind's gray-400 */
}
