<div *ngIf="asset" class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent"
    >
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div>
                <div class="hidden sm:flex flex-wrap items-center font-medium">
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <a class="ml-1 text-primary-500">Computers</a>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon
                            class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-right'"
                        ></mat-icon>
                        <a
                            class="ml-1 text-primary-500 cursor-pointer"
                            [routerLink]="'/assets/computers'"
                            >Computer List</a
                        >
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon
                            class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-right'"
                        ></mat-icon>
                        <span class="ml-1 text-secondary">View </span>
                    </div>
                </div>
                <div class="flex sm:hidden">
                    <a
                        class="inline-flex items-center -ml-1.5 text-secondary font-medium"
                    >
                        <mat-icon
                            class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-left'"
                        ></mat-icon>
                        <span class="ml-1">Back</span>
                    </a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-4 flex flex-col gap-4">
                <!-- Image Section -->
                <div class="flex flex-row gap-4">
                    <img
                        src="https://i.dell.com/is/image/DellContent/content/dam/ss2/product-images/dell-client-products/notebooks/inspiron-notebooks/14-2-in-1-7440-intel/media-gallery/notebook-inspiron-14-7440-t-ice-blue-gallery-17.psd?fmt=png-alpha&pscan=auto&scl=1&hei=804&wid=1336&qlt=100,1&resMode=sharp2&size=1336,804&chrss=full"
                        alt="Sample Image"
                        class="h-28 w-32"
                    />
                    <div class="flex flex-col gap-2">
                        <p class="font-semibold text-2xl">
                            {{ asset.model || "N/A" }} ({{
                                asset.type || "N/A"
                            }})
                        </p>
                        <p class="text-secondary font-semibold">
                            Asset barcode:
                            <span class="text-secondary font-medium">{{
                                asset.asset_barcode
                            }}</span>
                        </p>
                        <div class="flex flex-row gap-2">
                            <button
                                class="w-full sm:w-auto mt-4 sm:mt-0 flex items-center justify-center"
                                [routerLink]="
                                    '/assets/computers/edit/' + asset.id
                                "
                            >
                                <mat-icon
                                    class="icon-size-4 text-blue-600"
                                    [svgIcon]="'feather:edit'"
                                ></mat-icon>
                                <span class="ml-1 mr-1 text-sm text-blue-600"
                                    >Edit</span
                                >
                            </button>

                            <button
                                class="w-full sm:w-auto mt-4 sm:mt-0 flex items-center justify-center"
                                (click)="openDeleteDialog(asset.id)"
                            >
                                <mat-icon
                                    class="icon-size-4"
                                    [svgIcon]="'feather:trash-2'"
                                ></mat-icon>
                                <span class="ml-1 text-sm">Delete</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="flex flex-row gap-1"></div>
            </div>
        </div>
        <div
            class="hidden sm:flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4"
        >
            <button
                class="ml-4"
                mat-icon-button
                [routerLink]="'/assets/computers'"
            >
                <mat-icon [svgIcon]="'close'"></mat-icon>
                <!-- <span class="ml-2 mr-1">Go back</span> -->
            </button>
        </div>
    </div>
    <div class="flex flex-col h-full sm:mx-0 md:mx-0 lg:mx-64 lg:my-4">
        <form
            class="flex flex-col flex-grow px-8 pt-10 bg-card shadow-lg rounded w-full overflow-hidden"
        >
            <div class="flex">
                <div class="flex flex-row gap-4 w-full">
                    <div class="flex gap-4">
                        <img
                            src="assets/images/logo/suylogo.png"
                            alt="Logo"
                            class="-ml-5 -mt-5 h-32 w-32"
                        />
                        <div class="flex flex-col w-64 gap-1">
                            <p class="font-bold text-sm">
                                Ana's Breeders Farm Inc.
                            </p>
                            <p class="text-sm w-56">
                                Sitio Sto. Niño, Pan Philippine Highway Brgy.
                                Binugao, Toril District Davao City, Davao del
                                Sur, Philippines.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Right-aligned Document Details -->
                <div class="flex flex-row gap-4 w-full justify-end">
                    <div class="flex flex-col w-64 gap-1 items-end">
                        <p class="font-bold text-sm">
                            Document Number
                            <span class="font-medium">A-60-FR-009</span>
                        </p>
                        <p class="font-bold text-sm">
                            Effective Date
                            <span class="font-medium">{{
                                asset.date_created
                                    ? (asset.date_created | date : "MMMM d, y")
                                    : "N/A"
                            }}</span>
                        </p>
                    </div>
                </div>
            </div>
            <mat-divider class="mt-6 mb-4"></mat-divider>
            <div class="flex flex-row mt-2 gap-4 uppercase">
                <img
                    src="https://pngimg.com/uploads/qr_code/small/qr_code_PNG7.png"
                    alt="Sample QR"
                    class="h-32 w-32"
                />
                <div class="flex flex-col sm:flex-row justify-between gap-2">
                    <div class="flex flex-col">
                        <p class="text-primary font-bold text-2xl">
                            {{ asset.asset_barcode || "N/A" }}
                        </p>
                        <p class="text-secondary">
                            Serial number: {{ asset.serial_no || "N/A" }}
                        </p>
                    </div>
                    <mat-divider class="mx-12" vertical></mat-divider>
                    <div class="flex flex-col">
                        <p class="text-primary font-bold text-lg">
                            Long Item Description
                        </p>
                        <p class="text-secondary">
                            {{
                                asset.type +
                                    " " +
                                    asset.brand +
                                    " " +
                                    asset.model +
                                    " " +
                                    asset.size +
                                    " " +
                                    asset.color
                            }}
                        </p>
                    </div>
                </div>
            </div>

            <mat-divider class="mt-6 mb-10"></mat-divider>
            <p class="text-lg font-medium mb-3">DETAILS</p>

            <div class="grid grid-cols-3 gap-4 uppercase">
                <p class="flex flex-col font-medium text-medium">
                    Serial number
                    <span class="text-secondary text-medium">
                        <mat-icon
                            svgIcon="feather:hash"
                            class="icon-size-3"
                        ></mat-icon>
                        {{ asset.serial_no || "N/A" }}
                    </span>
                </p>
                <p class="flex flex-col font-medium text-medium">
                    Type
                    <span class="text-secondary text-medium">
                        <mat-icon
                            svgIcon="feather:cpu"
                            class="icon-size-3"
                        ></mat-icon>
                        {{ asset.type || "N/A" }}
                    </span>
                </p>
                <p class="flex flex-col font-medium text-medium">
                    Date Acquired
                    <span class="text-secondary text-medium">
                        <mat-icon
                            svgIcon="feather:calendar"
                            class="icon-size-3"
                        ></mat-icon>
                        {{ asset.date_acquired || "N/A" }}
                    </span>
                </p>
                <p class="flex flex-col font-medium text-medium">
                    Brand
                    <span class="text-secondary text-medium">
                        <mat-icon
                            svgIcon="feather:box"
                            class="icon-size-3"
                        ></mat-icon>
                        {{ asset.brand || "N/A" }}
                    </span>
                </p>
                <p class="flex flex-col font-medium text-medium">
                    Model
                    <span class="text-secondary text-medium">
                        <mat-icon
                            svgIcon="feather:smartphone"
                            class="icon-size-3"
                        ></mat-icon>
                        {{ asset.model || "N/A" }}
                    </span>
                </p>
                <p class="flex flex-col font-medium text-medium">
                    Size
                    <span class="text-secondary text-medium">
                        <mat-icon
                            svgIcon="feather:info"
                            class="icon-size-3"
                        ></mat-icon>
                        {{ asset.size || "N/A" }}
                    </span>
                </p>

                <p class="flex flex-col font-medium text-medium">
                    Color
                    <span class="text-secondary text-medium">
                        <mat-icon
                            svgIcon="feather:info"
                            class="icon-size-3"
                        ></mat-icon>
                        {{ asset.color || "N/A" }}
                    </span>
                </p>
                <p class="flex flex-col font-medium text-medium">
                    Po #
                    <span class="text-secondary text-medium">
                        <mat-icon
                            svgIcon="feather:tag"
                            class="icon-size-3"
                        ></mat-icon>
                        {{ asset.po || "N/A" }}
                    </span>
                </p>
                <p class="flex flex-col font-medium text-medium">
                    Warranty
                    <span class="text-secondary text-medium">
                        <mat-icon
                            svgIcon="feather:shield"
                            class="icon-size-3"
                        ></mat-icon>
                        {{ asset.warranty || "N/A" }}
                    </span>
                </p>
                <p class="flex flex-col font-medium text-medium">
                    Cost
                    <span class="text-secondary text-medium">
                        <mat-icon
                            svgIcon="feather:dollar-sign"
                            class="icon-size-3"
                        ></mat-icon>
                        {{ asset.cost || "N/A" }}
                    </span>
                </p>
                <p class="flex flex-col font-medium text-medium">
                    Remarks
                    <span class="text-secondary text-medium">
                        <mat-icon
                            svgIcon="feather:file-text"
                            class="icon-size-3"
                        ></mat-icon>
                        {{ asset.remarks || "N/A" }}
                    </span>
                </p>

                <!-- <p class="flex flex-col font-medium text-medium">
                        History
                        <span class="text-secondary text-medium">
                            <mat-icon
                                svgIcon="feather:file-text"
                                class="icon-size-3"
                            ></mat-icon>
                            {{
                                asset.history?.$values?.length
                                    ? asset.history.$values
                                    : "N/A"
                            }}
                        </span>
                    </p> -->
            </div>

            <mat-divider class="mt-12 mb-2"></mat-divider>
            <div class="mt-6 uppercase">
                <mat-tab-group>
                    <mat-tab label="Components">
                        <div class="flex flex-row justify-between">
                            <div class="flex flex-col">
                                <p class="text-sm font-medium mt-5">
                                    Components
                                </p>
                                <p class="text-sm text-secondary mb-6">
                                    Components associated with this asset.
                                </p>
                            </div>
                            <div class="flex flex-col justify-end">
                                <div class="flex justify-end mb-4">
                                    <button
                                        mat-flat-button
                                        color="primary"
                                        (click)="addComponent()"
                                    >
                                        <mat-icon
                                            class="icon-size-4"
                                            svgIcon="mat_solid:subdirectory_arrow_right"
                                        ></mat-icon>
                                        <span class="ml-1 text-sm"
                                            >Pull in components</span
                                        >
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="overflow-x-auto">
                            <!-- Show table only when there are components -->
                            <mat-table
                            class="overflow-y-auto "
                            style="max-height: 400px;"  
                                *ngIf="dataSource.length > 0"
                                [dataSource]="dataSource"
                                matSort
                                class="mat-elevation-z8 w-full"
                            >
                                <ng-container matColumnDef="component">
                                    <mat-header-cell
                                        *matHeaderCellDef
                                        mat-sort-header
                                        class="whitespace-nowrap overflow-hidden text-ellipsis"
                                    >
                                        Component
                                    </mat-header-cell>
                                    <mat-cell
                                        *matCellDef="let element"
                                        class="text-sm"
                                    >
                                        <mat-icon
                                            [svgIcon]="element.icon"
                                            class="icon-size-3 mr-1"
                                        ></mat-icon>
                                        {{ element.name }}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="description">
                                    <mat-header-cell
                                        class="whitespace-nowrap overflow-hidden text-ellipsis"
                                        *matHeaderCellDef
                                        mat-sort-header
                                    >
                                        Description
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <ng-container
                                            *ngIf="
                                                element.description;
                                                else noDescription
                                            "
                                        >
                                            <span
                                                class="text-blue-600 underline cursor-pointer text-sm"
                                            >
                                                {{ element.description }}
                                                <mat-icon
                                                    svgIcon="mat_outline:open_in_new"
                                                    class="icon-size-3 text-blue-700"
                                                ></mat-icon>
                                            </span>
                                        </ng-container>
                                        <ng-template #noDescription>
                                            <span class="text-secondary text-sm"
                                                >N/A</span
                                            >
                                        </ng-template>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="uid">
                                    <mat-header-cell
                                        class="whitespace-nowrap overflow-hidden text-ellipsis"
                                        *matHeaderCellDef
                                        mat-sort-header
                                    >
                                        Inventory Code
                                    </mat-header-cell>
                                    <mat-cell
                                        *matCellDef="let element"
                                        class="text-sm"
                                    >
                                        {{ element.uid || "N/A" }}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="history">
                                    <mat-header-cell
                                        class="truncate"
                                        *matHeaderCellDef
                                        mat-sort-header
                                        >History</mat-header-cell
                                    >
                                    <mat-cell
                                        *matCellDef="let element"
                                        class="text-sm"
                                    >
                                        {{ element.history || "N/A" }}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="action">
                                    <mat-header-cell
                                        class="whitespace-nowrap overflow-hidden text-ellipsis"
                                        *matHeaderCellDef
                                        mat-sort-header
                                        >Action</mat-header-cell
                                    >
                                    <mat-cell *matCellDef="let element">
                                        <button
                                            mat-icon-button
                                            [matMenuTriggerFor]="menu"
                                            (click)="$event.stopPropagation()"
                                        >
                                            <mat-icon
                                                class="icon-size-4"
                                                svgIcon="feather:more-vertical"
                                            ></mat-icon>
                                        </button>

                                        <mat-menu #menu="matMenu">
                                            <button
                                                mat-menu-item
                                                (click)="
                                                    handlePullOut(
                                                        getComponentId(element)
                                                    )
                                                "
                                            >
                                                <mat-icon>exit_to_app</mat-icon>
                                                Pull Out
                                            </button>

                                            <!-- <button mat-menu-item>
                                                <mat-icon>post_add</mat-icon> Create EAF
                                            </button> -->
                                        </mat-menu>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row
                                    *matHeaderRowDef="displayedColumns"
                                ></mat-header-row>
                                <mat-row
                                    *matRowDef="
                                        let row;
                                        columns: displayedColumns
                                    "
                                    class="hover:bg-gray-100 cursor-pointer"
                                    [routerLink]="[
                                        '/assets/components/view',
                                        row.uid,
                                        row.id
                                    ]"
                                >
                                </mat-row>
                            </mat-table>
                        </div>

                        <!-- Show a message when no components are available -->
                        <div
                            *ngIf="dataSource.length === 0"
                            class="text-center py-8"
                        >
                            <p class="text-gray-500">
                                No components available for this computer.
                            </p>
                        </div>
                    </mat-tab>
                    <mat-tab label="Peripheral">
                        <div class="flex flex-row justify-between">
                            <div class="flex flex-col">
                                <p class="text-sm font-medium mt-5">
                                    Peripherals under computers
                                </p>
                                <p class="text-sm text-secondary mb-6">
                                    Assets associated with this asset.
                                </p>
                            </div>
                            <div class="flex flex-col justify-end">
                                <div class="flex justify-end mb-4">
                                    <button
                                        mat-flat-button
                                        color="primary"
                                        (click)="addPeripherals()"
                                    >
                                        <mat-icon
                                            class="icon-size-4"
                                            svgIcon="mat_solid:subdirectory_arrow_right"
                                        ></mat-icon>
                                        <span class="ml-1 text-sm"
                                            >Pull in peripherals</span
                                        >
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- New Table for Assigned Assets -->
                        <div class="overflow-x-auto mt-5">
                            <mat-table
                            class="overflow-y-auto "
                            style="max-height: 400px;"  
                                *ngIf="dataSourceAssignedAssets.length > 0"
                                [dataSource]="dataSourceAssignedAssets"
                                matSort
                                class="mat-elevation-z8 w-full"
                            >
                                <ng-container matColumnDef="name">
                                    <mat-header-cell
                                        class="truncate"
                                        *matHeaderCellDef
                                        mat-sort-header
                                        >Assigned Asset</mat-header-cell
                                    >
                                    <mat-cell
                                        *matCellDef="let element"
                                        class="text-sm"
                                    >
                                        <mat-icon
                                            [svgIcon]="element.icon"
                                            class="icon-size-3 mr-1"
                                        ></mat-icon>
                                        {{ element.name }}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="description">
                                    <mat-header-cell
                                        class="whitespace-nowrap overflow-hidden text-ellipsis"
                                        *matHeaderCellDef
                                        mat-sort-header
                                        >Barcode</mat-header-cell
                                    >
                                    <mat-cell *matCellDef="let element">
                                        <ng-container
                                            *ngIf="
                                                element.description;
                                                else noDescription
                                            "
                                        >
                                            <span
                                                class="text-blue-600 underline cursor-pointer text-sm"
                                            >
                                                {{ element.description }}
                                                <mat-icon
                                                    svgIcon="mat_outline:open_in_new"
                                                    class="icon-size-3 text-blue-700"
                                                ></mat-icon>
                                            </span>
                                        </ng-container>
                                        <ng-template #noDescription>
                                            <span class="text-secondary text-sm"
                                                >N/A</span
                                            >
                                        </ng-template>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="uid">
                                    <mat-header-cell
                                        class="whitespace-nowrap overflow-hidden text-ellipsis"
                                        *matHeaderCellDef
                                        mat-sort-header
                                        >Asset ID</mat-header-cell
                                    >
                                    <mat-cell
                                        *matCellDef="let element"
                                        class="text-sm"
                                    >
                                        {{ element.brand }}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="serial_no">
                                    <mat-header-cell
                                        class="whitespace-nowrap overflow-hidden text-ellipsis"
                                        *matHeaderCellDef
                                        mat-sort-header
                                        >Serial Number</mat-header-cell
                                    >
                                    <mat-cell
                                        *matCellDef="let element"
                                        class="text-sm"
                                    >
                                        {{ element.serial_no }}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="action">
                                    <mat-header-cell
                                        class="whitespace-nowrap overflow-hidden text-ellipsis"
                                        *matHeaderCellDef
                                        mat-sort-header
                                        >Action</mat-header-cell
                                    >
                                    <mat-cell
                                        *matCellDef="let element"
                                        class="text-sm"
                                    >
                                        <button
                                            mat-icon-button
                                            [matMenuTriggerFor]="menu"
                                            (click)="$event.stopPropagation()"
                                        >
                                            <mat-icon
                                                class="icon-size-4"
                                                svgIcon="feather:more-vertical"
                                            ></mat-icon>
                                        </button>
                                        <mat-menu #menu="matMenu">
                                            <button
                                                mat-menu-item
                                                (click)="
                                                    handleAssetPullOut(
                                                        getAssetId(element)
                                                    )
                                                "
                                            >
                                                <mat-icon>exit_to_app</mat-icon>
                                                Pull Out
                                            </button>
                                            <!-- <button mat-menu-item>
                                                <mat-icon>post_add</mat-icon> Create EAF
                                            </button> -->
                                        </mat-menu>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row
                                    *matHeaderRowDef="[
                                        'name',
                                        'description',
                                        'uid',
                                        'serial_no',
                                        'action'
                                    ]"
                                ></mat-header-row>
                                <mat-row
                                    *matRowDef="
                                        let row;
                                        columns: [
                                            'name',
                                            'description',
                                            'uid',
                                            'serial_no',
                                            'action'
                                        ]
                                    "
                                    class="hover:bg-gray-100 cursor-pointer"
                                    [routerLink]="[
                                        '/assets/inventory/view/',
                                        row.id
                                    ]"
                                >
                                </mat-row>
                            </mat-table>
                        </div>

                        <!-- Show a message when no peripherals are available -->
                        <div
                            *ngIf="dataSourceAssignedAssets.length === 0"
                            class="text-center py-8"
                        >
                            <p class="text-gray-500">
                                No peripherals available for this computer.
                            </p>
                        </div>
                    </mat-tab>

                    <mat-tab label="User History">
                        <p class="text-sm font-medium mt-5">User History</p>
                        <p class="text-sm text-secondary mb-6">
                            Computer owner history.
                        </p>

                        <!-- Table with *ngIf to show only when there is data -->
                        <mat-table
                        
                            *ngIf="dataSourceHistory.length > 0"
                            [dataSource]="dataSourceHistory"
                            matSort
                        >
                            <!-- ID Column -->
                            <ng-container matColumnDef="id">
                                <mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                    >Chain of title</mat-header-cell
                                >
                                <mat-cell
                                    class="text-sm"
                                    *matCellDef="let element"
                                    >{{ getOrdinal(element.id) }}</mat-cell
                                >
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                                <mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                    >Name</mat-header-cell
                                >
                                <mat-cell
                                    class="text-sm"
                                    *matCellDef="let element"
                                    >{{ element.name }}</mat-cell
                                >
                            </ng-container>

                            <!-- Department Column -->
                            <ng-container matColumnDef="department">
                                <mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                    >Department</mat-header-cell
                                >
                                <mat-cell
                                    class="text-sm"
                                    *matCellDef="let element"
                                    >{{ element.department }}</mat-cell
                                >
                            </ng-container>

                            <!-- Company Column -->
                            <ng-container matColumnDef="company">
                                <mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                    >Company</mat-header-cell
                                >
                                <mat-cell
                                    class="text-sm"
                                    *matCellDef="let element"
                                    >{{ element.company }}</mat-cell
                                >
                            </ng-container>

                            <!-- Action Column -->
                            <ng-container matColumnDef="action">
                                <mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                    >Action</mat-header-cell
                                >
                                <mat-cell
                                    *matCellDef="let element"
                                    class="text-sm"
                                >
                                    <button
                                        mat-icon-button
                                        [matMenuTriggerFor]="menu"
                                        (click)="$event.stopPropagation()"
                                    >
                                        <mat-icon
                                            class="icon-size-4"
                                            svgIcon="feather:more-vertical"
                                        ></mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button
                                            mat-menu-item
                                            (click)="
                                                handleAssetPullOut(
                                                    getAssetId(element)
                                                )
                                            "
                                        >
                                            <mat-icon>exit_to_app</mat-icon>
                                            Pull Out
                                        </button>
                                        <button mat-menu-item>
                                            <mat-icon>post_add</mat-icon> Create
                                            IAF
                                        </button>
                                    </mat-menu>
                                </mat-cell>
                            </ng-container>

                            <!-- Fix Header Row Definition -->
                            <mat-header-row
                                *matHeaderRowDef="[
                                    'id',
                                    'name',
                                    'department',
                                    'company'
                                ]"
                            ></mat-header-row>
                            <mat-row
                                *matRowDef="
                                    let row;
                                    columns: [
                                        'id',
                                        'name',
                                        'department',
                                        'company'
                                    ]
                                "
                                class="hover:bg-gray-100"
                            >
                            </mat-row>
                        </mat-table>

                        <!-- Show a message when no history logs are available -->
                        <div
                            *ngIf="dataSourceHistory.length === 0"
                            class="text-center py-8"
                        >
                            <p class="text-gray-500">
                                No history available for this computer.
                            </p>
                        </div>
                    </mat-tab>

                    <mat-tab label="Repair History">
                        <p class="text-sm font-medium mt-5">Repair History</p>
                        <p class="text-sm text-secondary mb-6">
                            Repair history of the component/peripheral.
                        </p>
                        <mat-table 
                        class="overflow-y-auto "
                        style="max-height: 400px;"  
                            *ngIf="dataSourceRepairLogs.length > 0"
                            [dataSource]="dataSourceRepairLogs"
                            matSort
                        >
                            <!-- ID Column -->
                            <ng-container matColumnDef="inventory_code">
                                <mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                    >Inventory Code</mat-header-cell
                                >
                                <mat-cell
                                    class="text-sm"
                                    *matCellDef="let element"
                                    >{{ element.inventory_code }}</mat-cell
                                >
                            </ng-container>

                            <!-- Type Column -->
                            <ng-container matColumnDef="type">
                                <mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                    >Type</mat-header-cell
                                >
                                <mat-cell
                                    class="text-sm"
                                    *matCellDef="let element"
                                    >{{ element.type }}</mat-cell
                                >
                            </ng-container>

                            <!-- Action Column -->
                            <ng-container matColumnDef="action">
                                <mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                    >Action</mat-header-cell
                                >
                                <mat-cell
                                    class="text-sm"
                                    *matCellDef="let element"
                                    >{{ element.action }}</mat-cell
                                >
                            </ng-container>

                            <!-- Timestamp Column -->
                            <ng-container matColumnDef="timestamp">
                                <mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                    >Timestamp</mat-header-cell
                                >
                                <mat-cell
                                    class="text-sm"
                                    *matCellDef="let element"
                                >
                                    <!-- {{ element.timestamp | date:'MMM d, y, h:mm a' }} -->
                                    {{ element.timestamp | date : "MMM d, y" }}
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="remarks">
                                <mat-header-cell
                                    *matHeaderCellDef
                                    mat-sort-header
                                    >Remarks</mat-header-cell
                                >
                                <mat-cell
                                    class="text-sm"
                                    *matCellDef="let element"
                                >
                                    <!-- {{ element.timestamp | date:'MMM d, y, h:mm a' }} -->
                                    {{ element.remarks }}
                                </mat-cell>
                            </ng-container>
                        
                            <!-- Fix Header Row Definition -->
                            <mat-header-row
                                *matHeaderRowDef="[
                                    'inventory_code',
                                    'type',
                                    'action',
                                    'remarks',
                                    'timestamp'
                                ]"
                            ></mat-header-row>
                            <mat-row
                                *matRowDef="
                                    let row;
                                    columns: [
                                        'inventory_code',
                                        'type',
                                        'action',
                                        'remarks',
                                        'timestamp'
                                    ]
                                "
                                class="hover:bg-gray-100"
                            >
                            </mat-row>
                        </mat-table>

                        <!-- Show a message when no repair logs are available -->
                        <div
                            *ngIf="dataSourceRepairLogs.length === 0"
                            class="text-center py-8"
                        >
                            <p class="text-gray-500">
                                No repair logs available for this computer.
                            </p>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>

            <!-- <mat-divider class="mt-6 mb-10"></mat-divider> -->
            <div class="px-6 pb-10 uppercase">
                <p class="text-sm font-medium mt-5">Current Owner Details</p>
                <p class="text-sm text-secondary mb-6">
                    Current owner of the asset details.
                </p>

                <!-- Responsive Owner Details Section -->
                <div class="flex flex-col sm:flex-row gap-4">
                    <div class="flex flex-col flex-grow gap-4">
                        <p
                            class="text-sm flex flex-col font-medium text-medium"
                        >
                            Owner Name
                            <span class="text-sm text-secondary text-medium">
                                {{ asset.owner?.name || "N/A" }}
                            </span>
                        </p>
                        <p
                            class="text-sm flex flex-col font-medium text-medium"
                        >
                            Company
                            <span class="text-sm text-secondary text-medium">
                                {{ asset.owner?.company || "N/A" }}
                            </span>
                        </p>
                        <p
                            class="text-sm flex flex-col font-medium text-medium"
                        >
                            Department
                            <span class="text-sm text-secondary text-medium">
                                {{ asset.owne?.department || "N/A" }}
                            </span>
                        </p>
                    </div>
                    <div class="flex flex-col flex-grow gap-4">
                        <p
                            class="text-sm flex flex-col font-medium text-medium"
                        >
                            Employee ID
                            <span class="text-sm text-secondary text-medium">
                                {{ asset.owner?.employee_id || "N/A" }}
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
