<app-side-panel-computer
    #sidePanel
    [allTypes]="allTypes"
    [selectedTypeToggle]="selectedTypeToggle"
    (typeSelected)="onTypeSelected($event)"
    (filtersChanged)="onSidePanelFiltersChanged($event)"
>
    
    <div class="flex flex-col flex-auto min-w-0">
        <!-- Header -->
        <div
            class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent"
        >
            <!-- Left Section -->
            <div class="flex-1 min-w-0">
                <!-- Breadcrumbs -->
                <div>
                    <div
                        class="hidden sm:flex flex-wrap items-center font-medium"
                    >
                        <div
                            class="flex items-center ml-1 whitespace-nowrap truncate"
                        >
                            <a class="ml-1 text-primary-500 truncate"
                                >Computers</a
                            >
                        </div>
                        <div
                            class="flex items-center ml-1 whitespace-nowrap truncate"
                        >
                            <mat-icon
                                class="icon-size-5 text-secondary"
                                [svgIcon]="'heroicons_solid:chevron-right'"
                            ></mat-icon>
                            <span class="ml-1 text-secondary truncate"
                                >Computers List</span
                            >
                        </div>
                    </div>
                </div>

                <!-- Title -->
                <div class="mt-2 truncate">
                    <h2
                        class="text-2xl sm:text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate"
                    >
                        Computers List
                    </h2>
                </div>
            </div>

            <!-- Right Section -->
            <div class="flex flex-col gap-3">
                <div
                    class="justify-end flex flex-wrap items-center mt-4 sm:mt-0"
                >
                    <!-- Add Inventory Button -->
                    <button
                        class="w-full sm:w-auto mt-2 sm:mt-0 sm:ml-2 md:ml-4 flex items-center justify-center"
                        mat-stroked-button
                        [routerLink]="'/assets/computers/add'"
                    >
                        <mat-icon [svgIcon]="'feather:plus'"></mat-icon>
                        <span class="ml-2 mr-1">Add Computers</span>
                    </button>

                    <!-- Select Category -->
                    <!-- <mat-form-field class="fuse-mat-no-subscript w-full sm:w-48 md:w-56 lg:w-72 mt-2 sm:mt-0 sm:ml-2 md:ml-4">
                    <mat-select [(value)]="selectedTypes" (selectionChange)="onCategoryChange($event.value)">
                        <mat-option *ngFor="let type of types" [value]="type">
                            {{ type }}
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->

                    <!-- Search Inventory Tag -->
                    <mat-form-field
                        class="fuse-mat-no-subscript w-full sm:w-72 mt-4 sm:mt-0 sm:ml-4"
                    >
                        <mat-icon
                            matPrefix
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:search'"
                        ></mat-icon>
                        <input
                            matInput
                            placeholder="Search by Type"
                            [formControl]="typeFilterControl"
                            [matAutocomplete]="auto"
                        />

                        <mat-autocomplete
                            #auto="matAutocomplete"
                            (optionSelected)="
                                onTypeSelected($event.option.value)
                            "
                        >
                            <mat-option
                                *ngFor="
                                    let option of filteredTypeOptions | async
                                "
                                [value]="option"
                            >
                                {{ option }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>

                    <button mat-icon-button class="mx-2">
                        <mat-icon
                            svgIcon="feather:sidebar"
                            (click)="loadPanel()"
                        ></mat-icon>
                    </button>
                </div>
                <!-- <div class="justify-end flex flex-wrap items-center mt-4 sm:mt-0">
                <mat-button-toggle-group
                    class="gap-3 text-gray-900"
                    name="typeFilter"
                    aria-label="Type Filter"
                    [(ngModel)]="selectedTypeToggle"
                    (change)="onTypeSelected()"
                    multiplea
                >
                    <mat-button-toggle
                        *ngFor="let type of allTypes"
                        class="bg-gray-50 text-gray-900"
                        [value]="type"
                    >
                        <mat-icon
                            *ngIf="selectedTypeToggle.includes(type)"
                            class="ml-2 icon-size-3 "
                            svgIcon="mat_outline:check"
                            
                        ></mat-icon>
                        {{ type }}
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div> -->
            </div>
        </div>

        <!-- Main -->
        <div class="pt-0">
            <div class="mat-elevation-z8 overflow-x-auto overflow-y-auto">
                <table
                    mat-table
                    [dataSource]="dataSource"
                    matSort
                    (matSortChange)="announceSortChange($event)"
                    class="min-w-full bg-white rounded-lg shadow-md uppercase"
                >
                    <!-- <ng-container matColumnDef="asset_img">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        class="text-left text-gray-600 font-semibold inventory-tag-header custom-left-align"
                    >
                        <mat-icon class="icon-size-4 mr-4"></mat-icon>
                    </th>
                    <td
                        mat-cell
                        *matCellDef="let element"
                        class="border-r border-gray-200  text-sm font-semibold inventory-tag-cell "
                    >
                    <div class="flex items-center justify-center ">
                            <img
                            src="https://i.dell.com/is/image/DellContent/content/dam/ss2/product-images/dell-client-products/notebooks/inspiron-notebooks/14-2-in-1-7440-intel/media-gallery/notebook-inspiron-14-7440-t-ice-blue-gallery-17.psd?fmt=png-alpha&pscan=auto&scl=1&hei=804&wid=1336&qlt=100,1&resMode=sharp2&size=1336,804&chrss=full"
                            alt="Sample Image"
                            class="h-8 w-10 border border-gray-300 rounded-sm p-1"
                        />
                    </div>
                       
                    </td>
                </ng-container> -->

                    <ng-container matColumnDef="asset_barcode">
                        <th
                            mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                            class="text-left text-white font-semibold inventory-tag-header custom-left-align"
                        >
                            <div class="flex ml-4">
                                <mat-icon
                                    class="icon-size-4 mr-4 text-white"
                                    svgIcon="feather:tag"
                                ></mat-icon>
                                Inventory Code
                            </div>
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="justify-center border-b ml-4 border-r border-gray-200 text-sm font-bold inventory-tag-cell w-48"
                        >
                            <div class="flex items-center ml-4">
                                {{ element.asset_barcode || "-" }}
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="type">
                        <th
                            mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                            class="text-left text-white font-semibold inventory-tag-header custom-left-align w-36"
                        >
                            <div class="flex ml-4">Type</div>
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="border-r border-gray-200 px-4 text-sm inventory-tag-cell"
                        >
                            {{
                                element.type === "CPU"
                                    ? "Desktop"
                                    : element.type || "-"
                            }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <th
                            mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                            class="text-left text-white font-semibold inventory-tag-header custom-left-align w-36"
                        >
                            <div class="flex ml-4">Status</div>
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="border-r border-gray-200 text-sm px-4 py-0"
                        >
                            <div class="flex ml-4">
                                <div class="flex flex-row">
                                    <!-- <span
                                        [ngClass]="{
                                            'bg-red-500':
                                                element.status === 'INACTIVE',
                                            'bg-blue-500':
                                                element.status === 'AVAILABLE',
                                            'bg-green-500':
                                                element.status !== 'INACTIVE' &&
                                                element.status !== 'AVAILABLE'
                                        }"
                                        class="flex w-2 h-2 mt-1 me-3 rounded-full"
                                    >
                                    </span>
                                    <p class="ml-2 text-xs mt-0.5">
                                        {{ element.status || "-" }}
                                    </p> -->
                                    <span
                                        [ngClass]="{
                                            'bg-red-100 text-red-800 dark:bg-red-900 dark:text-red-300':
                                                element.status === 'INACTIVE',
                                            'bg-blue-100 text-blue-800 dark:bg-blue-900 dark:text-blue-300':
                                                element.status === 'AVAILABLE',
                                            'bg-green-100 text-green-800 dark:bg-green-900 dark:text-green-300':
                                                element.status !== 'INACTIVE' &&
                                                element.status !== 'AVAILABLE'
                                        }"
                                        class="inline-flex items-center text-xs font-bold px-2.5 py-0.5 rounded-md"
                                    >
                                        <!-- <span
                                            [ngClass]="{
                                            'bg-red-500': element.status === 'INACTIVE',
                                            'bg-blue-500': element.status === 'AVAILABLE',
                                            'bg-green-500': element.status !== 'INACTIVE' && element.status !== 'AVAILABLE'
                                            }"
                                            class="w-2 h-2 me-1 rounded-full"
                                        ></span> -->

                                        <p>
                                            {{ element.status || "-" }}
                                        </p>
                                    </span>
                                </div>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="brand">
                        <th
                            mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                            class="text-left text-white font-semibold inventory-tag-header custom-left-align w-36"
                        >
                            <div class="flex ml-4">Brand</div>
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="border-r border-gray-200 text-sm px-4 py-0"
                        >
                            {{ element.brand || "-" }}
                        </td>
                    </ng-container>

                    <ng-container *ngif="false" matColumnDef="serial_no">
                        <th
                            mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                            class="text-left text-white font-semibold inventory-tag-header custom-left-align w-24"
                        >
                            <div class="flex ml-4">Serial Number</div>
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="border-r border-gray-200 text-sm px-4 py-0"
                        >
                            {{ element.serial_no || "-" }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="model">
                        <th
                            mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                            class="px-4 py-0 text-left text-white font-semibold w-12"
                        >
                            Model
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="border-r border-gray-200 text-sm px-4 py-0"
                        >
                            <p class="truncate">{{ element.model || "-" }}</p>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="active_user">
                        <th
                            mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                            class="px-4 0 text-left text-white font-semibold w-32"
                        >
                            Active User
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="border-r border-gray-200 text-sm px-4 py-0"
                        >
                            {{ element.owner?.name || "-" }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="bu">
                        <th
                            mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                            class="px-4 py-2 text-left text-white font-semibold w-36"
                        >
                            Business Unit
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="border-r border-gray-200 text-sm px-4 py-0 w-12"
                        >
                            {{ element.owner?.company || "-" }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th
                            mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                            class="text-left font-semibold w-24"
                        ></th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="border-r border-gray-200 text-sm w-12 text-center"
                        >
                            <button
                                mat-icon-button
                                [matMenuTriggerFor]="menu"
                                (click)="$event.stopPropagation()"
                            >
                                <mat-icon
                                    class="icon-size-4"
                                    svgIcon="feather:more-vertical"
                                ></mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <!-- <button mat-menu-item>
                                    <mat-icon>exit_to_app</mat-icon>
                                    <p class="text-regular">
                                        Pull out computer
                                    </p>
                                </button> -->
                                <!-- <button mat-menu-item>
                                <mat-icon>add_box</mat-icon> 
                                <p class="text-regular">Pull in</p>
                              </button>  -->
                                <button
                                    mat-menu-item
                                    (click)="openRemarkModal(element.id)"
                                >
                                    <mat-icon>speaker_notes</mat-icon>
                                    <p class="text-regular">Set Remarks</p>
                                </button>
                                <button
                                    mat-menu-item
                                    [routerLink]="
                                        '/assets/computers/edit/' + element.id
                                    "
                                >
                                    <mat-icon
                                        class="icon-size-5"
                                        svgIcon="feather:edit"
                                    ></mat-icon>
                                    <p class="text-regular">Edit</p>
                                </button>
                                <button
                                    mat-menu-item
                                    (click)="openDeleteDialog(element.id)"
                                >
                                    <mat-icon
                                        class="icon-size-5"
                                        color="warn"
                                        svgIcon="feather:trash"
                                    ></mat-icon>
                                    <p class="text-regular">Delete</p>
                                </button>

                                <!-- <button mat-menu-item>Option 2</button> -->
                            </mat-menu>
                        </td>
                    </ng-container>
                    <!-- <ng-container matColumnDef="owner_id">
                    <th
                        mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        class="px-4 py-2 text-left text-gray-600 font-semibold"
                    >
                        Owner Id
                    </th>
                    <td
                        mat-cell
                        *matCellDef="let element"
                        class="border-b border-gray-200 text-sm px-4 py-2"
                    >
                        {{ element.owner_id }}
                    </td>
                </ng-container> -->
                    <!-- Action Column -->

                    <tr
                        mat-header-row
                        class="bg-gray-900"
                        *matHeaderRowDef="displayedColumns"
                    ></tr>
                    <tr
                        mat-row
                        [routerLink]="['/assets/computers/view', row.id]"
                        class="cursor-pointer hover:bg-gray-100"
                        *matRowDef="let row; columns: displayedColumns"
                    ></tr>
                </table>
            </div>
            <!-- Paginator -->
            <div>
                <mat-paginator
                    [pageSizeOptions]="pageSizeOptions"
                    [pageSize]="dynamicPageSize"
                    [length]="totalItems"
                    showFirstLastButtons
                ></mat-paginator>
            </div>
        </div>
    </div>
</app-side-panel-computer>
