<!-- profile-security.component.html -->
<div class="w-full h-full flex flex-col">
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="flex flex-col flex-grow bg-card shadow overflow-hidden">
        <!-- Header Section -->
        <div class="bg-gray-50 dark:bg-gray-700 p-8 border-t border-b">
            <p class="text-lg font-semibold">Security</p>
            <p class="text-secondary">
                Here's where you can manage your account's password.
            </p>
        </div>

        <!-- Content Section -->
        <div class="grid grid-cols-12 gap-6 px-6 py-12">
            <!-- Right Column -->
            <div class="col-span-12 lg:col-span-9 flex flex-col gap-4">
                <!-- Current Password Field -->
                <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 pr-4">
                    <mat-form-field class="fuse-mat-dense">
                        <mat-label>Current Password</mat-label>
                        <input matInput formControlName="currentPassword"
                               [type]="passwordFieldType" />
                        <button type="button" mat-icon-button matSuffix (click)="togglePasswordVisibility()">
                            <mat-icon>{{ passwordFieldType === 'password' ? 'visibility' : 'visibility_off' }}</mat-icon>
                        </button>
                        <mat-error *ngIf="passwordForm.get('currentPassword')?.touched">
                            {{ getErrorMessage('currentPassword') }}
                        </mat-error>
                    </mat-form-field>
                </div>
                
                <!-- New Password Field -->
                <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 pr-4">
                    <mat-form-field class="fuse-mat-dense">
                        <mat-label>New Password</mat-label>
                        <input matInput formControlName="newPassword"
                               [type]="newPasswordFieldType" />
                               <button type="button" mat-icon-button matSuffix (click)="toggleNewPasswordVisibility()">
                                <mat-icon>{{ newPasswordFieldType === 'password' ? 'visibility' : 'visibility_off' }}</mat-icon>
                              </button>
                              
                        <mat-error *ngIf="passwordForm.get('newPassword')?.touched">
                            {{ getErrorMessage('newPassword') }}
                        </mat-error>
                    </mat-form-field>
                </div>             
                <mat-icon svgIcon="heroicons_mini:eye-slash"></mat-icon>  
                <!-- Confirm New Password Field -->
                <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 pr-4">
                    <mat-form-field class="fuse-mat-dense">
                        <mat-label>Confirm New Password</mat-label>
                        <input matInput formControlName="confirmNewPassword"
                               [type]="confirmPasswordFieldType" />
                        <button type="button" mat-icon-button matSuffix (click)="toggleConfirmPasswordVisibility()">
                            <mat-icon>{{ confirmPasswordFieldType === 'password' ? 'visibility' : 'visibility_off' }}</mat-icon>
                        </button>
                        <mat-error *ngIf="passwordForm.get('confirmNewPassword')?.touched">
                            {{ getErrorMessage('confirmNewPassword') }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            
            <!-- Save Button -->
            <div class="flex col-span-5 justify-end">
                <button type="submit" 
                        class="px-12 lg:mr-12 lg:mx-2 -mt-6" 
                        mat-flat-button 
                        color="primary"
                        [disabled]="passwordForm.invalid || isLoading">
                    {{ isLoading ? 'Saving...' : 'Save' }}
                </button>
            </div>
        </div>
    </form>
</div>