<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent"
    >
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div>
                <div class="hidden sm:flex flex-wrap items-center font-medium">
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <a class="ml-1 text-primary-500">Assets</a>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon
                            class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-right'"
                        ></mat-icon>
                        <a
                            class="ml-1 text-primary-500 cursor-pointer"
                            [routerLink]="'/assets/inventory'"
                            >Inventory List</a
                        >
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon
                            class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-right'"
                        ></mat-icon>
                        <span class="ml-1 text-secondary">Add</span>
                    </div>
                </div>
                <div class="flex sm:hidden">
                    <a
                        class="inline-flex items-center -ml-1.5 text-secondary font-medium"
                        [routerLink]="'/assets/inventory'"
                    >
                        <mat-icon
                            class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-left'"
                        ></mat-icon>
                        <span class="ml-1">Back</span>
                    </a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2
                    class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate"
                >
                    Add Inventory
                </h2>
            </div>
        </div>
        <div
            class="hidden sm:flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4"
        >
            <button
                class="ml-4"
                mat-icon-button
                [routerLink]="'/assets/inventory'"
            >
                <mat-icon [svgIcon]="'close'"></mat-icon>
                <!-- <span class="ml-2 mr-1">Go back</span> -->
            </button>
        </div>
    </div>

    <div class="flex flex-col h-full sm:mx-0 md:mx-0 lg:mx-64 lg:my-4">
        <form
            [formGroup]="eventForm"
            (ngSubmit)="submitForm()"
            class="flex flex-col flex-grow px-8 pt-10 bg-card shadow-lg rounded w-full overflow-hidden"
        >
            <p class="text-lg font-bold text-2xl">New Asset Form</p>
            <mat-divider class="mt-6 mb-4"></mat-divider>
            <div class="flex flex-row mt-2 gap-4">
                <div class="flex flex-col items-center">
                    <label
                        for="select-image"
                        class="cursor-pointer flex flex-col items-center"
                    >
                        <img
                            id="preview-image"
                            src="https://static.vecteezy.com/system/resources/thumbnails/022/059/000/small_2x/no-image-available-icon-vector.jpg"
                            alt="Select Image"
                            class="h-32 w-32 object-contain border border-gray-300 rounded-md"
                        />
                        <span class="text-secondary text-sm mt-2">
                            <mat-icon
                                class="icon-size-3 mt-1 text-secondary"
                                [svgIcon]="'feather:edit'"
                            ></mat-icon>
                            Select new image
                        </span>
                    </label>
                    <input
                        id="select-image"
                        type="file"
                        accept="image/*"
                        class="hidden"
                        (change)="previewSelectedImage($event)"
                    />
                </div>
                <input
                    id="select-image"
                    type="file"
                    accept="image/*"
                    class="hidden"
                    onchange="previewSelectedImage(event)"
                />
                <div
                    class="flex flex-col flex-grow sm:flex-row justify-between gap-2"
                >
                    <div class="flex flex-col w-1/2">
                        <mat-form-field appearance="fill" class="w-full">
                            <mat-label
                                class="text-xs md:text-sm font-bold text-primary"
                                >Serial #</mat-label
                            >
                            <mat-icon
                                svgIcon="feather:hash"
                                class="icon-size-3 md:icon-size-3 mr-2"
                            ></mat-icon>
                            <input
                                matInput
                                id="serial_number_1"
                                class="text-xs md:text-sm"
                                [formControlName]="'serial_number'"
                            />
                        </mat-form-field>
                        <!-- [value]="eventForm.value.serial_number"-->
                    </div>
                    <mat-divider class="mx-12" vertical></mat-divider>
                    <div class="flex flex-col w-1/2">
                        <p class="text-xs md:text-sm font-bold text-primary">
                            Long Item Description
                        </p>
                        <div class="flex justify-start items-start gap-2">
                            <span>
                                {{
                                    this.eventForm.value.type +
                                        " " +
                                        this.eventForm.value.brand +
                                        " " +
                                        this.eventForm.value.model
                                }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <mat-divider class="mt-6 mb-6"></mat-divider>
            <p class="text-md font-medium mb-3">Details</p>
            <div class="flex flex-row gap-4">
                <div class="flex flex-col flex-grow gap-1">
                    <mat-label class="text-xs md:text-sm mb-1"
                        >Serial Number</mat-label
                    >
                    <mat-form-field appearance="fill">
                        <mat-icon
                            svgIcon="feather:hash"
                            class="icon-size-3 md:icon-size-4 mr-2"
                        ></mat-icon>
                        <input
                            matInput
                            formControlName="serial_number"
                            id="serial_number_2"
                            placeholder="Enter serial number..."
                            readonly
                            [value]="eventForm.value.serial_number"
                            class="text-xs md:text-sm"
                        />
                    </mat-form-field>

                    <mat-label class="text-xs md:text-sm mb-1">Type</mat-label>
                    <mat-form-field appearance="fill">
                        <mat-icon
                            svgIcon="feather:cpu"
                            class="icon-size-3 md:icon-size-4 mr-2"
                        ></mat-icon>
                        <input
                            matInput
                            formControlName="type"
                            id="type"
                            class="text-xs md:text-sm"
                            placeholder="Enter Type..."
                            type="text"
                        />
                    </mat-form-field>

                    <mat-label class="text-xs md:text-sm mb-1"
                        >Date Acquired</mat-label
                    >
                    <mat-form-field appearance="fill">
                        <mat-icon
                            svgIcon="feather:calendar"
                            class="icon-size-3 md:icon-size-4 mr-2"
                        ></mat-icon>

                        <input
                            matInput
                            [matDatepicker]="picker"
                            id="date_acquired"
                            formControlName="date_acquired"
                            placeholder="dd-mm-yyyy"
                            class="text-xs md:text-sm"
                        />
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="picker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <mat-label class="text-xs md:text-sm mb-1">Brand</mat-label>
                    <mat-form-field appearance="fill">
                        <mat-icon
                            svgIcon="feather:box"
                            class="icon-size-3 md:icon-size-4 mr-2"
                        ></mat-icon>
                        <input
                            matInput
                            id="brand"
                            formControlName="brand"
                            placeholder="Enter brand..."
                            class="text-xs md:text-sm"
                        />
                    </mat-form-field>

                    <mat-label class="text-xs md:text-sm mb-1">Model</mat-label>
                    <mat-form-field appearance="fill">
                        <mat-icon
                            svgIcon="feather:smartphone"
                            class="icon-size-3 md:icon-size-4 mr-2"
                        ></mat-icon>
                        <input
                            matInput
                            id="model"
                            formControlName="model"
                            placeholder="Enter model..."
                            class="text-xs md:text-sm"
                        />
                    </mat-form-field>
                </div>
                <mat-divider class="mx-12" vertical></mat-divider>
                <div class="flex flex-col flex-grow gap-1">
                    <mat-label class="text-xs md:text-sm mb-1"
                        >Asset Barcode</mat-label
                    >
                    <mat-form-field appearance="fill">
                        <mat-icon
                            svgIcon="feather:hash"
                            class="icon-size-3 md:icon-size-4 mr-2"
                        ></mat-icon>
                        <input
                            matInput
                            formControlName="asset_barcode"
                            id="asset_barcode"
                            placeholder="Enter asset barcode..."
                            class="text-xs md:text-sm"
                        />
                    </mat-form-field>
                    <mat-label class="text-xs md:text-sm mb-1">Po #</mat-label>
                    <mat-form-field appearance="fill">
                        <mat-icon
                            svgIcon="feather:tag"
                            class="icon-size-3 md:icon-size-4 mr-2"
                        ></mat-icon>
                        <input
                            matInput
                            id="po_number"
                            formControlName="po_number"
                            placeholder="Enter po number..."
                            class="text-xs md:text-sm"
                        />
                    </mat-form-field>

                    <mat-label class="text-xs md:text-sm mb-1"
                        >Warranty</mat-label
                    >
                    <mat-form-field appearance="fill">
                        <mat-icon
                            svgIcon="feather:shield"
                            class="icon-size-3 md:icon-size-4 mr-2"
                        ></mat-icon>
                        <input
                            matInput
                            id="warranty"
                            formControlName="warranty"
                            placeholder="Enter warranty..."
                            class="text-xs md:text-sm"
                        />
                    </mat-form-field>

                    <mat-label class="text-xs md:text-sm mb-1">Cost</mat-label>
                    <mat-form-field appearance="fill">
                        <mat-icon
                            svgIcon="feather:dollar-sign"
                            class="icon-size-3 md:icon-size-4 mr-2"
                        ></mat-icon>
                        <input
                            formControlName="cost"
                            matInput
                            id="cost"
                            placeholder="Enter warranty..."
                            class="text-xs md:text-sm"
                        />
                    </mat-form-field>

                    <mat-label class="text-xs md:text-sm mb-1">Remarks</mat-label>
                    <mat-form-field appearance="fill">
                        <mat-icon
                            svgIcon="feather:info"
                            class="icon-size-3 md:icon-size-4 mr-2"
                        ></mat-icon>
                        <input
                        formControlName="remarks"
                            matInput
                            id="remarks"
                            placeholder="Enter warranty..."
                            class="text-xs md:text-sm"
                        />
                    </mat-form-field>
                </div>
            </div>

            <div
                class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700"
            >
                <button mat-stroked-button>Reset Form</button>
                <button class="px-6 ml-3" mat-flat-button [color]="'primary'">
                    Create Form
                </button>
            </div>
        </form>
    </div>
</div>
