<form
    [formGroup]="eventForm"
    (ngSubmit)="submitForm()"
    class="absolute inset-0 flex flex-col min-w-0 overflow-hidden"
>
    <mat-drawer-container class="flex-auto h-full">
        <!-- Drawer -->
        <mat-drawer
            class="w-90 dark:bg-gray-900"
            [autoFocus]="false"
            [mode]="drawerMode"
            [opened]="drawerOpened"
            #matDrawer
        >
            <div class="flex flex-col items-start p-8 border-b">
                <!-- Back to courses -->
                <a
                    class="inline-flex items-center leading-6 text-primary hover:underline"
                    [routerLink]="['..']"
                >
                    <span class="inline-flex items-center">
                        <mat-icon
                            class="icon-size-5 text-current"
                            [svgIcon]="'heroicons_solid:arrow-sm-left'"
                        ></mat-icon>
                        <span class="ml-1.5 font-medium leading-5"
                            >Back to lists</span
                        >
                    </span>
                </a>
                <!-- Course title & description -->
                <div class="mt-7 text-2xl font-semibold">Add Peripheral</div>
                <div class="text-secondary">
                    Fill all the fields to create a new peripheral.
                </div>
            </div>

            <!-- Steps -->
            <div class="py-2 px-8">
                <ol>
                    <div class="mt-2 flex flex-col gap-2">
                        <mat-label class="font-semibold flex-col flex">
                            Fill the fields
                            <span class="text-sm font-medium text-gray-500">
                                Fill all the fields to create a peripheral
                            </span>
                        </mat-label>
                        <mat-label class="text-sm">Inventory Code</mat-label>
                        <mat-form-field appearance="fill">
                            <mat-icon
                                svgIcon="feather:info"
                                class="icon-size-3 md:icon-size-4 mr-2"
                            ></mat-icon>
                            <input
                                matInput
                                formControlName="asset_barcode"
                                id="asset_barcode"
                                placeholder="Enter Inventory code..."
                                class="text-xs md:text-sm uppercase"
                            />
                        </mat-form-field>
                     
                        <!-- <mat-form-field appearance="fill" class="w-full">
                            <mat-icon
                                svgIcon="feather:hash"
                                class="icon-size-3 md:icon-size-4 mr-2"
                            ></mat-icon>
                            <input
                                matInput
                                placeholder="Enter serial number..."
                                id="serial_number_1"
                                class="text-xs md:text-sm uppercase"
                                [formControlName]="'serial_number'"
                            />
                        </mat-form-field> -->
                        <mat-label class="text-sm">Type</mat-label>
                        <mat-form-field appearance="fill">
                            <mat-icon
                              svgIcon="feather:cpu"
                              class="icon-size-3 md:icon-size-4 mr-2"
                            ></mat-icon>
                            
                            <mat-select
                              matInput
                              formControlName="type"
                              id="type"
                              class="text-xs md:text-sm uppercase"
                              placeholder="Select Peripheral type..."
                            >
                              <mat-option *ngFor="let peripheral of peripherals" [value]="peripheral.type">
                                {{ peripheral.type }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                          
                          <mat-label class="text-sm">Brand</mat-label>
                        <mat-form-field appearance="fill">
                            <mat-icon
                                svgIcon="feather:box"
                                class="icon-size-3 md:icon-size-4 mr-2"
                            ></mat-icon>
                            <input
                                matInput
                                id="brand"
                                formControlName="brand"
                                placeholder="Enter brand..."
                                class="text-xs md:text-sm uppercase"
                            />
                        </mat-form-field>
                        <mat-label class="text-sm">Model</mat-label>
                        <mat-form-field appearance="fill">
                            <mat-icon
                                svgIcon="feather:smartphone"
                                class="icon-size-3 md:icon-size-4 mr-2"
                            ></mat-icon>
                            <input
                                matInput
                                id="model"
                                formControlName="model"
                                placeholder="Enter model..."
                                class="text-xs md:text-sm uppercase"
                            />
                        </mat-form-field>
                        <mat-label class="text-sm">Po #</mat-label>
                        <mat-form-field appearance="fill">
                            <mat-icon
                                svgIcon="feather:tag"
                                class="icon-size-3 md:icon-size-4 mr-2"
                            ></mat-icon>
                            <input
                                matInput
                                id="po_number"
                                formControlName="po_number"
                                placeholder="Enter po number..."
                                class="text-xs md:text-sm uppercase"
                            />
                        </mat-form-field>
                        <mat-label class="text-sm">Warranty</mat-label>
                        <mat-form-field appearance="fill" class="uppercase">
                            
                          <mat-icon
                            svgIcon="feather:shield"
                            class="icon-size-3 md:icon-size-4 mr-2"
                          ></mat-icon>
                          
                          <mat-select
                            id="warranty"
                            formControlName="warranty"
                            placeholder="Select warranty..."
                            class="text-xs md:text-sm"
                          >
                            <mat-option [value]="null">None</mat-option>
                            <mat-option *ngFor="let month of warrantyOptions" [value]="month.label">
                              {{ month.label }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <mat-label class="text-sm">Cost</mat-label>
                        <mat-form-field class="text-sm" appearance="fill">
                           
                            <mat-icon
                                svgIcon="feather:dollar-sign"
                                class="icon-size-3 md:icon-size-4 mr-2"
                            ></mat-icon>
                            <input
                                formControlName="cost"
                                matInput
                                id="cost"
                                type="number"
                                placeholder="Enter Cost..."
                                class="text-xs md:text-sm no-spinner uppercase"
                                (keydown)="validateNumber($event)"
                            />
                        </mat-form-field>
                        <mat-label class="text-sm">Date Acquired</mat-label>
                        <mat-form-field appearance="fill">
                       
                            <mat-icon
                                svgIcon="feather:calendar"
                                class="icon-size-3 md:icon-size-4 mr-2"
                            ></mat-icon>

                            <input
                                matInput
                                [matDatepicker]="picker"
                                id="date_acquired"
                                formControlName="date_acquired"
                                placeholder="Date acquired: dd-mm-yyyy"
                                class="text-xs md:text-sm uppercase"
                            />
                            <mat-datepicker-toggle
                                matSuffix
                                [for]="picker"
                            ></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <mat-label class="text-sm">Remarks</mat-label>
                        <mat-form-field appearance="fill">
                          
                            <!-- Icon with Tooltip -->
                            <mat-icon
                                svgIcon="feather:info"
                                class="icon-size-3 md:icon-size-4 mr-2"
                                matTooltip="This field is optional"
                                matTooltipPosition="above"
                            ></mat-icon>

                            <!-- Input Field (Not Required) -->
                            <input
                                formControlName="remarks"
                                matInput
                                id="remarks"
                                placeholder="Enter remarks..."
                                class="text-xs md:text-sm uppercase"
                                matTooltip="You can provide additional remarks if needed (optional)"
                                matTooltipPosition="above"
                            />
                        </mat-form-field>

                        <div class="flex flex-col items-start">
                            <link
                                rel="stylesheet"
                                href="https://unpkg.com/flowbite@1.4.4/dist/flowbite.min.css"
                            />
                            <input
                                class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 uppercase"
                                id="select-image"
                                type="file"
                                accept="image/*"
                                matTooltip="Select an image of the peripheral"
                                matTooltipPosition="above"
                                (change)="previewSelectedImage($event)"
                            />
                        </div>

                        <button
                            class="px-6"
                            mat-flat-button
                            type="submit"
                            [color]="'primary'"
                        >
                            <mat-icon
                                class="icon-size-4"
                                svgIcon="mat_solid:subdirectory_arrow_right"
                            ></mat-icon>
                            <span class="ml-1 text-sm"> Create Peripheral</span>
                        </button>
                    </div>
                </ol>
            </div>
        </mat-drawer>

        <!-- Drawer content -->
        <mat-drawer-content class="flex flex-col overflow-hidden">
            <!-- Header -->
            <div
                class="lg:hidden flex flex-0 items-center py-2 pl-4 pr-6 sm:py-4 md:pl-6 md:pr-8 border-b lg:border-b-0 bg-card dark:bg-transparent"
            >
                <!-- Title & Actions -->
                <button mat-icon-button [routerLink]="['..']">
                    <mat-icon
                        [svgIcon]="'heroicons_outline:arrow-sm-left'"
                    ></mat-icon>
                </button>
                <h2
                    class="ml-2.5 text-md sm:text-xl font-medium tracking-tight truncate"
                >
                    Peripheral Details
                </h2>
            </div>
            <mat-progress-bar
                class="hidden lg:block flex-0 h-0.5 w-full"
            ></mat-progress-bar>

            <!-- Main -->
            <div class="flex-auto overflow-y-auto" cdkScrollable>
                <!-- Steps -->
                <mat-tab-group
                    class="fuse-mat-no-header"
                    [animationDuration]="'200'"
                    #courseSteps
                >
                    <mat-tab>
                        <ng-template matTabContent>
                            <div
                                class="mx-auto inset-0 min-w-0 text-center overflow-auto print:overflow-visible"
                                cdkScrollable
                            >
                                <!-- A4 Wrapper -->
                                <div class="a4-container">
                                    <!-- Page Content -->
                                    <div
                                        class="inline-block p-6 sm:p-10 text-left print:p-0"
                                    >
                                        <div
                                            class="w-240 min-w-240 p-16 rounded-2xl shadow bg-card print:w-auto print:p-0 print:rounded-none print:shadow-none print:bg-transparent"
                                        >
                                            <div id="pdfFormArea" #pdfFormArea>
                                                <div class="flex">
                                                    <div
                                                        class="flex flex-row gap-4 w-full"
                                                    >
                                                        <div class="flex gap-4">
                                                            <img
                                                                src="assets/images/logo/abfilogo.png"
                                                                alt="Logo"
                                                                class="-ml-5 -mt-5 h-32 w-32"
                                                            />
                                                            <div
                                                                class="flex flex-col w-64 gap-1"
                                                            >
                                                                <p
                                                                    class="font-bold text-sm"
                                                                >
                                                                    Ana's
                                                                    Breeders
                                                                    Farm Inc.
                                                                </p>
                                                                <p
                                                                    class="text-sm w-56"
                                                                >
                                                                    Sitio Sto.
                                                                    Niño, Pan
                                                                    Philippine
                                                                    Highway
                                                                    Brgy.
                                                                    Binugao,
                                                                    Toril
                                                                    District
                                                                    Davao City,
                                                                    Davao del
                                                                    Sur,
                                                                    Philippines.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Right-aligned Document Details -->
                                                    <div
                                                        class="flex flex-row gap-4 w-full justify-end"
                                                    >
                                                        <div
                                                            class="flex flex-col w-64 gap-1 items-end"
                                                        >
                                                            <p
                                                                class="font-bold text-sm"
                                                            >
                                                                Control Number
                                                                <span
                                                                    class="font-medium"
                                                                    >-</span
                                                                >
                                                            </p>
                                                            <p
                                                                class="font-bold text-sm"
                                                            >
                                                                Effective Date
                                                                <span
                                                                    class="font-medium"
                                                                    >{{
                                                                        asset
                                                                            ?.user_accountability_list
                                                                            .date_created
                                                                            ? (asset
                                                                                  ?.user_accountability_list
                                                                                  .date_created
                                                                              | date
                                                                                  : "MMMM d, y")
                                                                            : "-"
                                                                    }}</span
                                                                >
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <p
                                                    class="flex justify-center text-2xl font-semibold w-full"
                                                >
                                                    PERIPHERAL FORM
                                                </p>
                                                <div
                                                    class="mt-5 w-full flex flex-row gap-12"
                                                >
                                                    <div>
                                                        <img
                                                            id="preview-image"
                                                            src="https://static.vecteezy.com/system/resources/thumbnails/022/059/000/small_2x/no-image-available-icon-vector.jpg"
                                                            alt="Select Image"
                                                            class="h-42 w-36 object-contain border border-gray-300 rounded-md"
                                                        />
                                                    </div>

                                                    <div
                                                        class="grid grid-cols-2 w-full uppercase"
                                                    >
                                                        <div>
                                                            <p
                                                                class="text-sm md:text-md font-bold text-primary"
                                                            >
                                                                Inventory Code
                                                            </p>
                                                            <div
                                                                class="flex justify-start items-start gap-2"
                                                            >
                                                                <span>
                                                                    {{
                                                                        this
                                                                            .eventForm
                                                                            .value
                                                                            .asset_barcode     || '-'                                                                       
                                                                    }}
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <!-- <div>
                                                            <p
                                                                class="text-sm md:text-md font-bold text-primary"
                                                            >
                                                                Serial number
                                                            </p>
                                                            <div
                                                                class="flex justify-start items-start gap-2"
                                                            >
                                                                <span>
                                                                    {{
                                                                        this
                                                                            .eventForm
                                                                            .value
                                                                            .serial_number      || '-'                                                                 
                                                                    }}
                                                                </span>
                                                            </div>
                                                        </div> -->
                                                        <div>
                                                            <p
                                                                class="text-sm md:text-md font-bold text-primary"
                                                            >
                                                                Long Item
                                                                Description
                                                            </p>
                                                            <div
                                                                class="flex justify-start items-start gap-2"
                                                            >
                                                            <span>
                                                                {{
                                                                    (eventForm.value.type ? eventForm.value.type + ' ' : '') +
                                                                    (eventForm.value.brand ? eventForm.value.brand + ' ' : '') +
                                                                    (eventForm.value.model ? eventForm.value.model : '') || '-'
                                                                }}
                                                            </span>
                                                            
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <mat-divider horizontal class="border-gray-300 my-4"></mat-divider>
                                            <div class="grid grid-cols-4 w-full mt-2 uppercase gap-7">
                                                <div>
                                                    <p class="text-md font-semibold">
                                                       Type
                                                    </p>
                                                    <span>
                                                        {{
                                                            this
                                                                .eventForm
                                                                .value
                                                                .type    || '-'                                                                      
                                                        }}
                                                    </span>
                                                </div>
                                                <div>
                                                    <p class="text-md font-semibold">
                                                    Brand
                                                    </p>
                                                    <span>
                                                        {{
                                                            this
                                                                .eventForm
                                                                .value
                                                                .brand    || '-'                                                                       
                                                        }}
                                                    </span>
                                                </div>
                                                <div>
                                                    <p class="text-md font-semibold">
                                                      Model
                                                    </p>
                                                    <span>
                                                        {{
                                                            this
                                                                .eventForm
                                                                .value
                                                                .model       || '-'                                                                    
                                                        }}
                                                    </span>
                                                </div>
                                                <div>
                                                    <p class="text-md font-semibold">
                                                      Po Number
                                                    </p>
                                                    <span>
                                                        {{
                                                            this
                                                                .eventForm
                                                                .value
                                                                .po_number    || '-'                                                                       
                                                        }}
                                                    </span>
                                                </div>
                                             
                                                <div>
                                                    <p class="text-md font-semibold">
                                                      Cost
                                                    </p>
                                                    <span>
                                                        {{
                                                            this
                                                                .eventForm
                                                                .value
                                                                .cost         || '-'                                                                  
                                                        }}
                                                    </span>
                                                </div>
                                                
                                                <div>
                                                    <p class="text-md font-semibold">
                                                      Warranty
                                                    </p>
                                                    <span>
                                                        {{
                                                            this
                                                                .eventForm
                                                                .value
                                                                .warranty   || '-'                                                                        
                                                        }}
                                                    </span>
                                                </div>
                                                <div>
                                                    <p class="text-md font-semibold">
                                                      Date Acquired
                                                    </p>
                                                    <span>
                                                        {{ eventForm.value.date_acquired ? (eventForm.value.date_acquired | date: 'MMMM d, y') : '-' }}

                                                    </span>
                                                </div>
                                                <div>
                                                    <p class="text-md font-semibold">
                                                      Remarks
                                                    </p>
                                                    <span>
                                                        {{
                                                            this
                                                                .eventForm
                                                                .value
                                                                .remarks    || '-'                                                                        
                                                        }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>

                <!-- Navigation - Desktop -->
                <!-- <div class="z-10 sticky hidden lg:flex bottom-4 p-4">
                    <div class="flex items-center justify-center mx-auto p-2 rounded-full shadow-lg bg-primary">
                        <button
                            class="flex-0"
                            mat-flat-button
                            [color]="'primary'"
                            (click)="goToPreviousStep()">
                            <mat-icon
                                class="mr-2"
                                [svgIcon]="'heroicons_outline:arrow-narrow-left'"></mat-icon>
                            <span class="mr-1">Prev</span>
                        </button>
                        <div class="flex items-center justify-center mx-2.5 font-medium leading-5 text-on-primary">
                            <span>{{currentStep + 1}}</span>
                            <span class="mx-0.5 text-hint">/</span>
                            <span>{{course.totalSteps}}</span>
                        </div>
                        <button
                            class="flex-0"
                            mat-flat-button
                            [color]="'primary'"
                            (click)="goToNextStep()">
                            <span class="ml-1">Next</span>
                            <mat-icon
                                class="ml-2"
                                [svgIcon]="'heroicons_outline:arrow-narrow-right'"></mat-icon>
                        </button>
                    </div>
                </div> -->
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</form>
