<div  *ngIf="asset" class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent"
    >
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div>
                <div class="hidden sm:flex flex-wrap items-center font-medium">
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <a class="ml-1 text-primary-500">Assets</a>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon
                            class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-right'"
                        ></mat-icon>
                        <a
                            class="ml-1 text-primary-500 cursor-pointer"
                            [routerLink]="'/assets/inventory'"
                            >Inventory List</a
                        >
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon
                            class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-right'"
                        ></mat-icon>
                        <span class="ml-1 text-secondary">View </span>
                    </div>
                </div>
                <div class="flex sm:hidden">
                    <a
                        class="inline-flex items-center -ml-1.5 text-secondary font-medium"
                        [routerLink]="'/assets/inventory'"
                    >
                        <mat-icon
                            class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-left'"
                        ></mat-icon>
                        <span class="ml-1">Back</span>
                    </a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-4 flex flex-col gap-4">
                <!-- Image Section -->
                <div class="flex flex-row gap-4">
                    <img
                        src="https://i.dell.com/is/image/DellContent/content/dam/ss2/product-images/dell-client-products/notebooks/inspiron-notebooks/14-2-in-1-7440-intel/media-gallery/notebook-inspiron-14-7440-t-ice-blue-gallery-17.psd?fmt=png-alpha&pscan=auto&scl=1&hei=804&wid=1336&qlt=100,1&resMode=sharp2&size=1336,804&chrss=full"
                        alt="Sample Image"
                        class="h-28 w-32"
                    />
                    <div class="flex flex-col gap-2">
                        <p class="font-semibold text-2xl">
                           {{asset.model}} ({{asset.type}})
                        </p>
                        <p class="text-secondary font-semibold">
                            Asset barcode:
                            <span class="text-secondary font-medium">{{asset.asset_barcode}}</span>
                        </p>
                        <div class="flex flex-row gap-2">
                            <button
                                class="w-full sm:w-auto mt-4 sm:mt-0 flex items-center justify-center"
                                [routerLink]="'/assets/inventory/edit/' + asset.id"
                            >
                                <mat-icon
                                    class="icon-size-4 text-blue-600"
                                    [svgIcon]="'feather:edit'"
                                ></mat-icon>
                                <span class="ml-1 mr-1 text-sm text-blue-600"
                                    >Edit</span
                                >
                            </button>

                            <button
                                class="w-full sm:w-auto mt-4 sm:mt-0 flex items-center justify-center"
                                [routerLink]="'/assets/inventory/add'"
                            >
                                <mat-icon
                                    class="icon-size-4"
                                    [svgIcon]="'feather:trash-2'"
                                ></mat-icon>
                                <span class="ml-1 text-sm">Delete</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="flex flex-row gap-1"></div>
            </div>
        </div>
        <div
            class="hidden sm:flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4"
        >
            <button
                class="ml-4"
                mat-icon-button
                [routerLink]="'/assets/inventory'"
            >
                <mat-icon [svgIcon]="'close'"></mat-icon>
                <!-- <span class="ml-2 mr-1">Go back</span> -->
            </button>
        </div>
    </div>

    <div class="flex flex-col h-full sm:mx-0 md:mx-0 lg:mx-64 lg:my-4">
        <form
            class="flex flex-col flex-grow px-8 pt-10 bg-card shadow-lg rounded w-full overflow-hidden"
        >
            <p class="text-lg font-bold text-2xl">Asset Information</p>
            <mat-divider class="mt-6 mb-4"></mat-divider>
            <div class="flex flex-row mt-2 gap-4">
                <img
                    src="https://pngimg.com/uploads/qr_code/small/qr_code_PNG7.png"
                    alt="Sample QR"
                    class="h-32 w-32"
                />
                <div class="flex flex-col sm:flex-row justify-between gap-2">
                    <div class="flex flex-col">
                        <p class="text-primary font-bold text-2xl">
                          {{ asset.asset_barcode || 'N/A' }}
                        </p>
                        <p class="text-secondary">Serial number: {{ asset.serial_no || 'N/A' }}</p>
                    </div>
                    <mat-divider class="mx-12" vertical></mat-divider>
                    <div class="flex flex-col">
                        <p class="text-primary font-bold text-lg">
                            Long Item Description
                        </p>
                        <p class="text-secondary">
                            {{asset.li_description}}
                        </p>
                    </div>
                </div>
            </div>

            <mat-divider class="mt-6 mb-10"></mat-divider>
            <p class="text-lg font-medium mb-3">Details</p>

            <div class="flex flex-row gap-4">
                <div class="flex flex-col flex-grow gap-4">
                    <p class="flex flex-col font-medium text-medium">
                        Serial number
                        <span class="text-secondary text-medium">
                          <mat-icon svgIcon="feather:hash" class="icon-size-3"></mat-icon>
                          S4412315
                        </span>
                      </p>
                      <p class="flex flex-col font-medium text-medium">
                        Type
                        <span class="text-secondary text-medium">
                          <mat-icon svgIcon="feather:cpu" class="icon-size-3"></mat-icon>
                          {{asset.type}}
                        </span>
                      </p>
                      <p class="flex flex-col font-medium text-medium">
                        Date Acquired
                        <span class="text-secondary text-medium">
                          <mat-icon svgIcon="feather:calendar" class="icon-size-3"></mat-icon>
                          {{asset.date_acquired}}
                        </span>
                      </p>
                      <p class="flex flex-col font-medium text-medium">
                        Brand
                        <span class="text-secondary text-medium">
                          <mat-icon svgIcon="feather:box" class="icon-size-3"></mat-icon>
                          {{asset.brand}}
                        </span>
                      </p>
                      <p class="flex flex-col font-medium text-medium">
                        Model
                        <span class="text-secondary text-medium">
                          <mat-icon svgIcon="feather:smartphone" class="icon-size-3"></mat-icon>
                          {{asset.model}}
                        </span>
                      </p>
                      <p class="flex flex-col font-medium text-medium">
                        Ram
                        <span class="text-secondary text-medium">
                          <mat-icon svgIcon="feather:server" class="icon-size-3"></mat-icon>
                          {{asset.ram || 'N/A'}}
                        </span>
                      </p>
                      <p class="flex flex-col font-medium text-medium">
                        Storage
                        <span class="text-secondary text-medium">
                          <mat-icon svgIcon="feather:hard-drive" class="icon-size-3"></mat-icon>
                         {{asset.storage || 'N/A'}}
                        </span>
                      </p>
                      <p class="flex flex-col font-medium text-medium">
                        GPU
                        <span class="text-secondary text-medium">
                          <mat-icon svgIcon="feather:monitor" class="icon-size-3"></mat-icon>
                          {{asset.gpu || 'N/A'}}
                        </span>
                      </p>
                      
                </div>
                <mat-divider class="mx-12" vertical></mat-divider>
                <div class="flex flex-col flex-grow gap-4">
                    <p class="flex flex-col font-medium text-medium">
                        Size
                        <span class="text-secondary text-medium">
                          <mat-icon svgIcon="feather:info" class="icon-size-3"></mat-icon>
                         {{asset.size || 'N/A'}}
                        </span>
                      </p>
                      <p class="flex flex-col font-medium text-medium">
                        Color
                        <span class="text-secondary text-medium">
                          <mat-icon svgIcon="feather:info" class="icon-size-3"></mat-icon>
                        {{asset.color || 'N/A'}}
                        </span>
                      </p>
                      <p class="flex flex-col font-medium text-medium">
                        Po #
                        <span class="text-secondary text-medium">
                          <mat-icon svgIcon="feather:tag" class="icon-size-3"></mat-icon>
                         {{asset.po_number || 'N/A'}}
                        </span>
                      </p>
                      <p class="flex flex-col font-medium text-medium">
                        Warranty
                        <span class="text-secondary text-medium">
                          <mat-icon svgIcon="feather:shield" class="icon-size-3"></mat-icon>
                        {{asset.warranty || 'N/A'}}
                        </span>
                      </p>
                      <p class="flex flex-col font-medium text-medium">
                        Cost
                        <span class="text-secondary text-medium">
                          <mat-icon svgIcon="feather:dollar-sign" class="icon-size-3"></mat-icon>
                          {{asset.cost || 'N/A'}}
                        </span>
                      </p>
                      <p class="flex flex-col font-medium text-medium">
                        Remarks
                        <span class="text-secondary text-medium">
                          <mat-icon svgIcon="feather:file-text" class="icon-size-3"></mat-icon>
                       {{asset.remarks || 'N/A'}}
                        </span>
                      </p>                      
                      <p class="flex flex-col font-medium text-medium">
                        History
                        <span class="text-secondary text-medium">
                          <mat-icon svgIcon="feather:file-text" class="icon-size-3"></mat-icon>
                          {{ asset.history?.$values?.length ? asset.history.$values : 'N/A' }}
                        </span>
                      </p>                      
                </div>
            </div>

            <mat-divider class="mt-6 mb-10"></mat-divider>

            <p class="text-lg font-medium">Current Owner Details</p>
            <p class="text-secondary mb-6">
                Current owner of the asset details.
            </p>

            <div class="flex flex-row gap-4">
                <div class="flex flex-col flex-grow gap-4">
                    <p class="flex flex-col font-medium text-medium">
                        Owner name
                        <span class="text-secondary text-medium">
                            Jefferson Arnado
                        </span>
                    </p>
                    <p class="flex flex-col font-medium text-medium">
                        Company
                        <span class="text-secondary text-medium"> ABFI </span>
                    </p>
                    <p class="flex flex-col font-medium text-medium">
                        Department
                        <span class="text-secondary text-medium">
                            CISDEVO
                        </span>
                    </p>
                </div>
                <div class="flex flex-col flex-grow gap-4">
                    <p class="flex flex-col font-medium text-medium">
                        Employee Id
                        <span class="text-secondary text-medium">
                            220-120
                        </span>
                    </p>
                </div>
            </div>
            <!-- <mat-form-field class="flex-grow gt-xs:pr-3">
                    <input matInput [placeholder]="'First name'" />
                    <mat-icon
                        class="icon-size-5"
                        matPrefix
                        [svgIcon]="'heroicons_solid:user-circle'"
                    ></mat-icon>
                </mat-form-field>
                <mat-form-field class="flex-grow gt-xs:pl-3">
                    <input matInput [placeholder]="'Last name'" />
                    <mat-icon
                        class="icon-size-5"
                        matPrefix
                        [svgIcon]="'heroicons_solid:user-circle'"
                    ></mat-icon>
                </mat-form-field> -->

            <mat-divider class="mt-6 mb-10"></mat-divider>
            <!-- <div
                class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700"
            > -->
            <!-- <button mat-stroked-button>Reset Form</button> -->
            <!-- <button class="px-6 ml-3" mat-flat-button [color]="'primary'">
                    Edit Details
                </button>
            </div> -->
        </form>
    </div>
</div>
<!-- <mat-form-field class="flex-grow gt-xs:pr-3">
                    <input matInput [placeholder]="'First name'" />
                    <mat-icon
                        class="icon-size-5"
                        matPrefix
                        [svgIcon]="'heroicons_solid:user-circle'"
                    ></mat-icon>
                </mat-form-field>
                <mat-form-field class="flex-grow gt-xs:pl-3">
                    <input matInput [placeholder]="'Last name'" />
                    <mat-icon
                        class="icon-size-5"
                        matPrefix
                        [svgIcon]="'heroicons_solid:user-circle'"
                    ></mat-icon>
                </mat-form-field> -->
<!-- <div
                class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700"
            > -->
<!-- <button mat-stroked-button>Reset Form</button> -->
<!-- <button class="px-6 ml-3" mat-flat-button [color]="'primary'">
                    Edit Details
                </button>
            </div> -->
