<div class="flex items-center justify-center h-screen w-screen">
    <div class="text-center">
        <div class="w-full items-center justify-start -ml-2">
            <div class="w-full">
                <img
                    style="height: 125px; width: 330px"
                    src="assets/images/logo/it-assets-black.png"
                    alt="it-assets-logo"
                />
                <!-- Title -->
                <div class="flex flex-col gap-2">
                    <div
                        class="text-left ml-5 text-3xl font-bold tracking-tight leading-tight"
                    >
                        Forgot your password?
                    </div>
                    <div class="text-left ml-5 tracking-tight leading-tight">
                        Contact admin to reset your password.
                    </div>
                    <div
                        class="flex flex-col text-left ml-5 tracking-tight leading-tight gap-2"
                    >
                        <div>Viber contact number</div>
                        <div>
                            <mat-icon
                                svgIcon="heroicons_solid:phone"
                                class="text-purple-700 icon-size-4 mr-1"
                            ></mat-icon>
                            +63 9481470492
                        </div>
                        <div>
                            <mat-icon
                                svgIcon="heroicons_solid:phone"
                                class="text-purple-700 icon-size-4 mr-1"
                            ></mat-icon>
                            +63 9531829691
                        </div>

                        <div class=" text-md font-medium text-secondary">
                            <span>Return to</span>
                            <a
                                class="ml-1 text-primary-500 hover:underline"
                                [routerLink]="['/sign-in']"
                                >sign in.
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
