<mat-sidenav-container class="sidenav-container">
    <!-- Sidebar Icon Button (Not toggling the panel) -->
    <button mat-icon-button class="absolute top-4 right-4">
        <mat-icon svgIcon="feather:sidebar"></mat-icon>
    </button>

    <!-- In side-panel-computer.component.html -->
    <mat-sidenav #sidenav mode="over" position="end" [(opened)]="isPanelOpen">
        <div class="p-3">
            <div class="flex items-center justify-end">
                <button mat-icon-button (click)="closeSidenav()">
                    <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
                </button>
            </div>

            <!-- Add the filter toggle group here -->
            <div class="text-lg font-medium uppercase flex text-gray-900">
                <mat-icon
                    svgIcon="mat_outline:filter_alt"
                    class="text-gray-900"
                ></mat-icon>
                Filter by Type
            </div>
            <div class="flex flex-col gap-3 w-full mt-4">
                <button
                    *ngFor="let type of allTypes"
                    class="custom-button rounded-sm"
                    [ngClass]="{ selected: selectedTypeToggle.includes(type) }"
                    (click)="toggleType(type)"
                >
                    <mat-icon
                        svgIcon="mat_outline:check"
                        *ngIf="selectedTypeToggle.includes(type)"
                        class="mr-2 icon-size-3 text-white"
                    >
                    </mat-icon>

                    <!-- Show CPU icon, make it white when selected -->
                    <mat-icon
                        *ngIf="type === 'CPU'"
                        svgIcon="feather:cpu"
                        class="icon-size-3 mr-2"
                        [ngClass]="{
                            'text-white ': selectedTypeToggle.includes(type)
                        }"
                    >
                    </mat-icon>

                    <!-- Show Laptop icon, make it white when selected -->
                    <mat-icon
                        *ngIf="type === 'LAPTOP'"
                        svgIcon="mat_outline:computer"
                        class="icon-size-3 mr-2"
                        [ngClass]="{
                            'text-white ': selectedTypeToggle.includes(type)
                        }"
                    >
                    </mat-icon>

                    <!-- Show check icon if selected -->

                    {{ type === "CPU" ? "DESKTOP" : type }}
                </button>
            </div>

            <!-- Filter by Department -->
            <div
                class="text-lg font-medium uppercase flex items-center gap-2 text-gray-900 mt-6"
            >
                <mat-icon
                    svgIcon="feather:briefcase"
                    class="text-gray-900"
                ></mat-icon>
                Filter by Department
            </div>

            <div class="flex flex-wrap gap-2 w-full mt-4">
                <button
                    *ngFor="let dept of departments"
                    class="button_with_style_matchips_1"
                    [ngClass]="{ selected: selectedDepartments.includes(dept) }"
                    (click)="toggleDepartment(dept)"
                >
                    <mat-icon
                        *ngIf="selectedDepartments.includes(dept)"
                        svgIcon="mat_outline:check"
                        class="mr-1 text-white text-sm icon-size-3"
                    ></mat-icon>
                    {{ dept.code }}
                </button>
            </div>

            <!-- Filter by Business Unit -->
<div class="text-lg font-medium uppercase flex items-center gap-2 text-gray-900 mt-6">
  <mat-icon
    svgIcon="mat_outline:corporate_fare"
    class="text-gray-900"
  ></mat-icon>
  Filter by Business Unit
</div>

<div class="flex flex-wrap gap-2 w-full mt-4">
  <button
    *ngFor="let bu of businessUnits"
    class="button_with_style_matchips_1"
    [ngClass]="{ 'selected': selectedBusinessUnits.includes(bu) }"
    (click)="toggleBusinessUnit(bu)"
  >
    <mat-icon
      svgIcon="mat_outline:check"
      *ngIf="selectedBusinessUnits.includes(bu)"
      class="mr-1 text-white text-sm icon-size-3"
    ></mat-icon>
    {{ bu.code }}
  </button>
</div>

        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
