<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content>
    <form [formGroup]="remarkForm">
        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Enter Remark</mat-label>
            <textarea matInput formControlName="remark" rows="3"></textarea>
            <mat-error *ngIf="remarkForm.get('remark').hasError('required')">Remark is required.</mat-error>
          </mat-form-field>
          
    </form>
</mat-dialog-content>
<mat-dialog-actions class="justify-end">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="remarkForm.invalid">
        Submit
    </button>
</mat-dialog-actions>
