<div class="flex flex-col flex-auto w-full">
    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
        <!-- Title and action buttons -->
        <div class="flex items-center justify-between w-full">
            <div>
                <div class="text-3xl font-semibold tracking-tight leading-8">
                    Analytics dashboard
                </div>
                <div class="font-medium tracking-tight text-secondary">
                    Monitor assets totals and inventories here
                </div>
            </div>
        </div>

        <div
            class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 w-full mt-8"
        >                     
            <!-- Impressions -->
            <div class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex items-start justify-between m-6 mb-0">
                    <div class="text-lg font-semibold tracking-tight leading-6 truncate">
                       Total Computers
                    </div>
                    <div class="ml-2">
                        <button class="h-6 min-h-6 px-2 rounded-full bg-hover" mat-button [matMenuTriggerFor]="computerTypesMenu">
                            <span class="font-medium text-sm text-secondary">{{ selectedType }}</span>
                        </button>
                        <mat-menu #computerTypesMenu="matMenu">
                                                      <button mat-menu-item (click)="selectType('ALL')">
                                ALL ({{ laptopCount + cpuCount }})
                            </button>
                            <button mat-menu-item (click)="selectType('LAPTOP')">
                                LAPTOP ({{ laptopCount }})
                            </button>
                            <button mat-menu-item (click)="selectType('CPU')">
                                CPU ({{ cpuCount }})
                            </button>

                        </mat-menu>
                    </div>
                </div>
            
                <div class="flex flex-row gap-12 lg:flex-row lg:items-center my-5 mx-6 mt-3">
                    <div class="text-7xl font-bold tracking-tighter leading-tight">
                        {{ displayedCount }}
                    </div>                   
                    <div class="grid grid-cols-1 gap-0 tracking-tighter text-sm leading-tight w-full">
                        <p class="w-full flex justify-between ">All Computers Total <span class="justify-end mr-6">{{ laptopCount + cpuCount }}</span></p>
                        <p class="w-full flex justify-between ">CPU Total <span class="justify-end mr-6">{{ cpuCount }}</span></p>
                        <p class="w-full flex justify-between ">Laptop Total <span class="justify-end mr-6">{{ laptopCount }}</span></p>
                    </div>
                    
                            
                </div>
            </div>

            <!-- Components -->
            <div class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex items-start justify-between m-6 mb-0">
                    <div class="text-lg font-semibold tracking-tight leading-6 truncate">
                       Total Components
                    </div>
                    <div class="ml-2">
                        <button class="h-6 min-h-6 px-2 rounded-full bg-hover" mat-button [matMenuTriggerFor]="componentTypesMenu">
                            <span class="font-medium text-sm text-secondary">{{ selectedType }}</span>
                        </button>
                        <mat-menu #componentTypesMenu="matMenu">
                                                      <button mat-menu-item (click)="selectType('ALL')">
                                ALL ({{ laptopCount + cpuCount }})
                            </button>
                            <button mat-menu-item (click)="selectType('LAPTOP')">
                                LAPTOP ({{ laptopCount }})
                            </button>
                            <button mat-menu-item (click)="selectType('CPU')">
                                CPU ({{ cpuCount }})
                            </button>

                        </mat-menu>
                    </div>
                </div>
            
                <div class="flex flex-row gap-12 lg:flex-row lg:items-center my-5 mx-6 mt-3">
                    <div class="text-7xl font-bold tracking-tighter leading-tight">
                        {{ displayedCount }}
                    </div>                   
                    <div class="grid grid-cols-1 gap-0 tracking-tighter text-sm leading-tight w-full">
                        <p class="w-full flex justify-between ">All Computers Total <span class="justify-end mr-6">{{ laptopCount + cpuCount }}</span></p>
                        <p class="w-full flex justify-between ">CPU Total <span class="justify-end mr-6">{{ cpuCount }}</span></p>
                        <p class="w-full flex justify-between ">Laptop Total <span class="justify-end mr-6">{{ laptopCount }}</span></p>
                    </div>
                    
                            
                </div>
            </div>
            
        </div>
    </div>
</div>
