<div class="flex flex-col flex-auto w-full">

    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">

        <!-- Title and action buttons -->
        <div class="flex items-center justify-between w-full">
            <div>
                <div class="text-3xl font-semibold tracking-tight leading-8">Analytics dashboard</div>
                <div class="font-medium tracking-tight text-secondary">Monitor metrics, check reports and review assets reports</div>
            </div>
            <div class="flex items-center ml-6">
                <button
                    class="hidden sm:inline-flex"
                    mat-stroked-button>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:cog'"></mat-icon>
                    <span class="ml-2">Settings</span>
                </button>
                <button
                    class="hidden sm:inline-flex ml-3"
                    mat-flat-button
                    [color]="'primary'">
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:save'"></mat-icon>
                    <span class="ml-2">Export</span>
                </button>

                <!-- Actions menu (visible on xs) -->
                <div class="sm:hidden">
                    <button
                        [matMenuTriggerFor]="actionsMenu"
                        mat-icon-button>
                        <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
                    </button>
                    <mat-menu #actionsMenu="matMenu">
                        <button mat-menu-item>Export</button>
                        <button mat-menu-item>Settings</button>
                    </mat-menu>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 w-full mt-8">
            <!-- Visitors overview -->
            <div class="sm:col-span-2 lg:col-span-3 dark flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex items-center justify-between mt-10 ml-10 mr-6 sm:mr-10">
                    <div class="flex flex-col">
                        <div class="mr-4 text-2xl md:text-3xl font-semibold tracking-tight leading-7">Requests</div>
                        <div class="font-medium text-secondary">Number of requests this year</div>
                    </div>
                    <div class="ml-2">
                        <mat-button-toggle-group
                            class="hidden sm:inline-flex border-none space-x-1"
                            value="this-year"
                            #visitorsYearSelector="matButtonToggleGroup">                          
                            <!-- <mat-button-toggle
                                class="px-1.5 rounded-full overflow-hidden border-none font-medium"
                                value="this-year">This Year
                            </mat-button-toggle> -->
                        </mat-button-toggle-group>
                        <div class="sm:hidden">
                            <!-- <button
                                mat-icon-button
                                [matMenuTriggerFor]="visitorsMenu">
                                <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
                            </button>
                            <mat-menu #visitorsMenu="matMenu">
                                <button mat-menu-item>This Year</button>                               
                            </mat-menu> -->
                        </div>
                    </div>
                </div>
               
                <div class="flex flex-col flex-auto h-80">
                    <apx-chart
                        class="flex-auto w-full h-full"
                        [chart]="chartVisitors.chart"
                        [colors]="chartVisitors.colors"                        
                        [fill]="chartVisitors.fill"
                        [grid]="chartVisitors.grid"
                        [series]="chartVisitors.series"
                        [stroke]="chartVisitors.stroke"
                        [tooltip]="chartVisitors.tooltip"
                        [xaxis]="chartVisitors.xaxis"
                        [yaxis]="chartVisitors.yaxis"
                    ></apx-chart>
                </div>
                  
            </div>
           
            <!-- Conversions -->
            <div class="sm:col-span-2 lg:col-span-1 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex items-start justify-between m-6 mb-0">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Requests</div>
                    <div class="ml-2">
                        <button
                            class="h-6 min-h-6 px-2 rounded-full bg-hover"
                            mat-button
                            [matMenuTriggerFor]="conversionMenu">
                            <span class="font-medium text-sm text-secondary">30 days</span>
                        </button>
                        <mat-menu #conversionMenu="matMenu">
                            <button mat-menu-item>30 days</button>
                            <button mat-menu-item>3 months</button>
                            <button mat-menu-item>9 months</button>
                        </mat-menu>
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row lg:items-center mx-6 mt-3">
                    <div class="text-7xl font-bold tracking-tighter leading-tight">589</div>
                    <div class="flex lg:flex-col lg:ml-3">
                        <mat-icon
                            class="icon-size-5 text-red-500"
                            [svgIcon]="'heroicons_solid:trending-down'"></mat-icon>
                        <div class="flex items-center ml-1 lg:ml-0 lg:mt-0.5 text-md leading-none whitespace-nowrap text-secondary">
                            <span class="font-medium text-red-500">2%</span>
                            <span class="ml-1">below target</span>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col flex-auto h-20">
                    <apx-chart
                        class="flex-auto w-full h-full"
                        [chart]="chartConversions.chart"
                        [colors]="chartConversions.colors"
                        [series]="chartConversions.series"
                        [stroke]="chartConversions.stroke"
                        [tooltip]="chartConversions.tooltip"
                        [xaxis]="chartConversions.xaxis"
                        [yaxis]="chartConversions.yaxis"></apx-chart>
                </div>
            </div>
            <!-- Impressions -->
            <div class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex items-start justify-between m-6 mb-0">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Active</div>
                    <div class="ml-2">
                        <button
                            class="h-6 min-h-6 px-2 rounded-full bg-hover"
                            mat-button
                            [matMenuTriggerFor]="impressionsMenu">
                            <span class="font-medium text-sm text-secondary">30 days</span>
                        </button>
                        <mat-menu #impressionsMenu="matMenu">
                            <button mat-menu-item>30 days</button>
                            <button mat-menu-item>3 months</button>
                            <button mat-menu-item>9 months</button>
                        </mat-menu>
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row lg:items-center mx-6 mt-3">
                    <div class="text-7xl font-bold tracking-tighter leading-tight">891</div>
                    <div class="flex lg:flex-col lg:ml-3">
                        <mat-icon
                            class="icon-size-5 text-red-500"
                            [svgIcon]="'heroicons_solid:trending-down'"></mat-icon>
                        <div class="flex items-center ml-1 lg:ml-0 lg:mt-0.5 text-md leading-none whitespace-nowrap text-secondary">
                            <span class="font-medium text-red-500">4%</span>
                            <span class="ml-1">below target</span>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col flex-auto h-20">
                    <apx-chart
                        class="flex-auto w-full h-full"
                        [chart]="chartImpressions.chart"
                        [colors]="chartImpressions.colors"
                        [series]="chartImpressions.series"
                        [stroke]="chartImpressions.stroke"
                        [tooltip]="chartImpressions.tooltip"
                        [xaxis]="chartImpressions.xaxis"
                        [yaxis]="chartImpressions.yaxis"></apx-chart>
                </div>
            </div>
            <!-- Visits -->
            <div class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex items-start justify-between m-6 mb-0">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Inactive</div>
                    <div class="ml-2">
                        <button
                            class="h-6 min-h-6 px-2 rounded-full bg-hover"
                            mat-button
                            [matMenuTriggerFor]="impressionsMenu">
                            <span class="font-medium text-sm text-secondary">30 days</span>
                        </button>
                        <mat-menu #impressionsMenu="matMenu">
                            <button mat-menu-item>30 days</button>
                            <button mat-menu-item>3 months</button>
                            <button mat-menu-item>9 months</button>
                        </mat-menu>
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row lg:items-center mx-6 mt-3">
                    <div class="text-7xl font-bold tracking-tighter leading-tight">659</div>
                    <div class="flex lg:flex-col lg:ml-3">
                        <mat-icon
                            class="icon-size-5 text-red-500"
                            [svgIcon]="'heroicons_solid:trending-down'"></mat-icon>
                        <div class="flex items-center ml-1 lg:ml-0 lg:mt-0.5 text-md leading-none whitespace-nowrap text-secondary">
                            <span class="font-medium text-red-500">4%</span>
                            <span class="ml-1">below target</span>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col flex-auto h-20">
                    <apx-chart
                        class="flex-auto w-full h-full"
                        [chart]="chartVisits.chart"
                        [colors]="chartVisits.colors"
                        [series]="chartVisits.series"
                        [stroke]="chartVisits.stroke"
                        [tooltip]="chartVisits.tooltip"
                        [xaxis]="chartVisits.xaxis"
                        [yaxis]="chartVisits.yaxis"></apx-chart>
                </div>
            </div>
        </div>
    </div>
</div>